@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot@#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*=" icon-"], [class^="icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

.icon-zoom-out:before {
	content: "\e001";
}
.icon-zoom-in:before {
	content: "\e002";
}
.icon-woman:before {
	content: "\e007";
}
.icon-wifi:before {
	content: "\e008";
}
.icon-wifi-2:before {
	content: "\e009";
}
.icon-webcam:before {
	content: "\e00a";
}
.icon-warning-sign:before {
	content: "\e00b";
}
.icon-wallet:before {
	content: "\e00c";
}
.icon-volume-up:before {
	content: "\e00d";
}
.icon-volume-down:before {
	content: "\e00e";
}
.icon-vector-path-square:before {
	content: "\e010";
}
.icon-vector-path-polygon:before {
	content: "\e011";
}
.icon-vector-path-line:before {
	content: "\e012";
}
.icon-vector-path-curve:before {
	content: "\e013";
}
.icon-vector-path-circle:before {
	content: "\e014";
}
.icon-vector-path-all:before {
	content: "\e015";
}
.icon-vcard:before {
	content: "\e016";
}
.icon-vases:before {
	content: "\e017";
}
.icon-user:before {
	content: "\e018";
}
.icon-user-remove:before {
	content: "\e019";
}
.icon-user-add:before {
	content: "\e01a";
}
.icon-usd:before {
	content: "\e01b";
}
.icon-upload:before {
	content: "\e01c";
}
.icon-up-arrow:before {
	content: "\e01d";
}
.icon-unshare:before {
	content: "\e01e";
}
.icon-unlock:before {
	content: "\e01f";
}
.icon-umbrella:before {
	content: "\e021";
}
.icon-turtle:before {
	content: "\e023";
}
.icon-t-shirt:before {
	content: "\e025";
}
.icon-truck:before {
	content: "\e026";
}
.icon-tree-deciduous:before {
	content: "\e027";
}
.icon-tree-conifer:before {
	content: "\e028";
}
.icon-train:before {
	content: "\e029";
}
.icon-tint:before {
	content: "\e02a";
}
.icon-tie:before {
	content: "\e02b";
}
.icon-thumbs-up:before {
	content: "\e02c";
}
.icon-thumbs-down:before {
	content: "\e02d";
}
.icon-temple-islam:before {
	content: "\e035";
}
.icon-temple-hindu:before {
	content: "\e036";
}
.icon-temple-christianity-church:before {
	content: "\e037";
}
.icon-temple-buddhist:before {
	content: "\e038";
}
.icon-tea-kettle:before {
	content: "\e039";
}
.icon-tags:before {
	content: "\e03a";
}
.icon-tag:before {
	content: "\e03b";
}
.icon-tablet:before {
	content: "\e03c";
}
.icon-table:before {
	content: "\e03d";
}
.icon-table-tennis:before {
	content: "\e03e";
}
.icon-sweater:before {
	content: "\e03f";
}
.icon-sun:before {
	content: "\e040";
}
.icon-suitcase:before {
	content: "\e041";
}
.icon-stroller:before {
	content: "\e043";
}
.icon-stopwatch:before {
	content: "\e044";
}
.icon-stats:before {
	content: "\e048";
}
.icon-star:before {
	content: "\e049";
}
.icon-spray:before {
	content: "\e04a";
}
.icon-spade:before {
	content: "\e04c";
}
.icon-sort:before {
	content: "\e04d";
}
.icon-soccer-ball:before {
	content: "\e04e";
}
.icon-snowflake:before {
	content: "\e04f";
}
.icon-snorkel-diving:before {
	content: "\e050";
}
.icon-smoking:before {
	content: "\e051";
}
.icon-skull:before {
	content: "\e053";
}
.icon-signal:before {
	content: "\e055";
}
.icon-show-thumbnails:before {
	content: "\e056";
}
.icon-show-big-thumbnails:before {
	content: "\e059";
}
.icon-shopping-cart:before {
	content: "\e05a";
}
.icon-shopping-bag:before {
	content: "\e05b";
}
.icon-shield:before {
	content: "\e05c";
}
.icon-sheriffs-star:before {
	content: "\e05d";
}
.icon-share:before {
	content: "\e05e";
}
.icon-share-2:before {
	content: "\e05f";
}
.icon-settings:before {
	content: "\e060";
}
.icon-security-camera:before {
	content: "\e061";
}
.icon-search:before {
	content: "\e062";
}
.icon-scuba-diving:before {
	content: "\e063";
}
.icon-screenshot:before {
	content: "\e064";
}
.icon-scissors:before {
	content: "\e065";
}
.icon-sampler:before {
	content: "\e066";
}
.icon-ruller:before {
	content: "\e067";
}
.icon-rugby:before {
	content: "\e068";
}
.icon-router:before {
	content: "\e06a";
}
.icon-roundabout:before {
	content: "\e06b";
}
.icon-rotation-lock:before {
	content: "\e06c";
}
.icon-road:before {
	content: "\e06d";
}
.icon-ring:before {
	content: "\e06e";
}
.icon-right-arrow:before {
	content: "\e070";
}
.icon-riflescope:before {
	content: "\e071";
}
.icon-retweet:before {
	content: "\e073";
}
.icon-retweet-2:before {
	content: "\e074";
}
.icon-restart:before {
	content: "\e075";
}
.icon-resize-small:before {
	content: "\e076";
}
.icon-resize-full:before {
	content: "\e077";
}
.icon-repeat:before {
	content: "\e078";
}
.icon-remove:before {
	content: "\e079";
}
.icon-remove-2:before {
	content: "\e07a";
}
.icon-refresh:before {
	content: "\e07b";
}
.icon-random:before {
	content: "\e07e";
}
.icon-rabbit:before {
	content: "\e07f";
}
.icon-qrcode:before {
	content: "\e081";
}
.icon-pushpin:before {
	content: "\e082";
}
.icon-projector:before {
	content: "\e083";
}
.icon-print:before {
	content: "\e084";
}
.icon-power:before {
	content: "\e085";
}
.icon-pot:before {
	content: "\e086";
}
.icon-posterous-spaces:before {
	content: "\e087";
}
.icon-pool:before {
	content: "\e088";
}
.icon-podium:before {
	content: "\e089";
}
.icon-playlist:before {
	content: "\e08a";
}
.icon-playing-dices:before {
	content: "\e08b";
}
.icon-play-button:before {
	content: "\e08d";
}
.icon-pizza:before {
	content: "\e08e";
}
.icon-pin:before {
	content: "\e091";
}
.icon-pin-flag:before {
	content: "\e092";
}
.icon-pie-chart:before {
	content: "\e093";
}
.icon-picture:before {
	content: "\e094";
}
.icon-piano:before {
	content: "\e096";
}
.icon-phone:before {
	content: "\e097";
}
.icon-pencil:before {
	content: "\e098";
}
.icon-pen:before {
	content: "\e099";
}
.icon-parents:before {
	content: "\e09b";
}
.icon-paperclip:before {
	content: "\e09c";
}
.icon-pants:before {
	content: "\e09d";
}
.icon-oxygen-bottle:before {
	content: "\e09e";
}
.icon-old-man:before {
	content: "\e09f";
}
.icon-ok:before {
	content: "\e0a0";
}
.icon-ok-2:before {
	content: "\e0a1";
}
.icon-notes:before {
	content: "\e0a2";
}
.icon-notes-2:before {
	content: "\e0a3";
}
.icon-note:before {
	content: "\e0a4";
}
.icon-new-window:before {
	content: "\e0a5";
}
.icon-nameplate:before {
	content: "\e0a6";
}
.icon-nameplate-2:before {
	content: "\e0a7";
}
.icon-nails:before {
	content: "\e0a8";
}
.icon-mute:before {
	content: "\e0a9";
}
.icon-music:before {
	content: "\e0aa";
}
.icon-move:before {
	content: "\e0ab";
}
.icon-more:before {
	content: "\e0ac";
}
.icon-more-windows:before {
	content: "\e0ad";
}
.icon-more-items:before {
	content: "\e0ae";
}
.icon-moon:before {
	content: "\e0af";
}
.icon-microphone:before {
	content: "\e0b0";
}
.icon-message-plus:before {
	content: "\e0b1";
}
.icon-message-out:before {
	content: "\e0b2";
}
.icon-message-new:before {
	content: "\e0b3";
}
.icon-message-minus:before {
	content: "\e0b4";
}
.icon-message-lock:before {
	content: "\e0b5";
}
.icon-message-in:before {
	content: "\e0b6";
}
.icon-message-full:before {
	content: "\e0b7";
}
.icon-message-flag:before {
	content: "\e0b8";
}
.icon-message-empty:before {
	content: "\e0b9";
}
.icon-message-ban:before {
	content: "\e0ba";
}
.icon-male:before {
	content: "\e0bb";
}
.icon-magnet:before {
	content: "\e0bc";
}
.icon-magic:before {
	content: "\e0bd";
}
.icon-macbook:before {
	content: "\e0be";
}
.icon-luggage:before {
	content: "\e0bf";
}
.icon-log-book:before {
	content: "\e0c0";
}
.icon-lock:before {
	content: "\e0c1";
}
.icon-link:before {
	content: "\e0c4";
}
.icon-lightbulb:before {
	content: "\e0c5";
}
.icon-life-preserver:before {
	content: "\e0c6";
}
.icon-left-arrow:before {
	content: "\e0c8";
}
.icon-leather:before {
	content: "\e0c9";
}
.icon-leaf:before {
	content: "\e0ca";
}
.icon-keys:before {
	content: "\e0cc";
}
.icon-keynote:before {
	content: "\e0cd";
}
.icon-keyboard-wireless:before {
	content: "\e0ce";
}
.icon-keyboard-wired:before {
	content: "\e0cf";
}
.icon-kettle:before {
	content: "\e0d0";
}
.icon-justify:before {
	content: "\e0d1";
}
.icon-ipod:before {
	content: "\e0d4";
}
.icon-ipod-shuffle:before {
	content: "\e0d5";
}
.icon-iphone:before {
	content: "\e0d6";
}
.icon-iphone-transfer:before {
	content: "\e0d7";
}
.icon-iphone-shake:before {
	content: "\e0d8";
}
.icon-iphone-exchange:before {
	content: "\e0d9";
}
.icon-ipad:before {
	content: "\e0da";
}
.icon-instagram:before {
	content: "\e0dc";
}
.icon-inbox:before {
	content: "\e0dd";
}
.icon-inbox-plus:before {
	content: "\e0de";
}
.icon-inbox-out:before {
	content: "\e0df";
}
.icon-inbox-minus:before {
	content: "\e0e0";
}
.icon-inbox-lock:before {
	content: "\e0e1";
}
.icon-inbox-in:before {
	content: "\e0e2";
}
.icon-imac:before {
	content: "\e0e3";
}
.icon-home:before {
	content: "\e0e6";
}
.icon-history:before {
	content: "\e0e7";
}
.icon-heat:before {
	content: "\e0e8";
}
.icon-heart:before {
	content: "\e0e9";
}
.icon-heart-empty:before {
	content: "\e0ea";
}
.icon-headset:before {
	content: "\e0eb";
}
.icon-headphones:before {
	content: "\e0ec";
}
.icon-hdd:before {
	content: "\e0ed";
}
.icon-hand-up:before {
	content: "\e0ee";
}
.icon-hand-saw:before {
	content: "\e0ef";
}
.icon-hand-right:before {
	content: "\e0f0";
}
.icon-hand-left:before {
	content: "\e0f1";
}
.icon-hand-down:before {
	content: "\e0f2";
}
.icon-group:before {
	content: "\e0f3";
}
.icon-grater:before {
	content: "\e0f4";
}
.icon-google-maps:before {
	content: "\e0f6";
}
.icon-globe:before {
	content: "\e0f7";
}
.icon-globe-af:before {
	content: "\e0f8";
}
.icon-global:before {
	content: "\e0f9";
}
.icon-glass:before {
	content: "\e0fa";
}
.icon-girl:before {
	content: "\e0fc";
}
.icon-gift:before {
	content: "\e0fd";
}
.icon-gbp:before {
	content: "\e0fe";
}
.icon-gamepad:before {
	content: "\e0ff";
}
.icon-fullscreen:before {
	content: "\e100";
}
.icon-french-press:before {
	content: "\e101";
}
.icon-folder-plus:before {
	content: "\e106";
}
.icon-folder-open:before {
	content: "\e107";
}
.icon-folder-new:before {
	content: "\e108";
}
.icon-folder-minus:before {
	content: "\e109";
}
.icon-folder-lock:before {
	content: "\e10a";
}
.icon-folder-flag:before {
	content: "\e10b";
}
.icon-flower:before {
	content: "\e10c";
}
.icon-flash:before {
	content: "\e10e";
}
.icon-flag:before {
	content: "\e10f";
}
.icon-fishes:before {
	content: "\e110";
}
.icon-fire:before {
	content: "\e111";
}
.icon-fins:before {
	content: "\e112";
}
.icon-filter:before {
	content: "\e113";
}
.icon-film:before {
	content: "\e114";
}
.icon-file:before {
	content: "\e115";
}
.icon-file-import:before {
	content: "\e116";
}
.icon-file-export:before {
	content: "\e117";
}
.icon-female:before {
	content: "\e118";
}
.icon-facetime-video:before {
	content: "\e11c";
}
.icon-fabric:before {
	content: "\e11e";
}
.icon-eyedropper:before {
	content: "\e11f";
}
.icon-eye-open:before {
	content: "\e120";
}
.icon-eye-close:before {
	content: "\e121";
}
.icon-expand:before {
	content: "\e122";
}
.icon-euro:before {
	content: "\e124";
}
.icon-envelope:before {
	content: "\e125";
}
.icon-embed:before {
	content: "\e126";
}
.icon-embed-close:before {
	content: "\e127";
}
.icon-electricity:before {
	content: "\e129";
}
.icon-electrical-socket-us:before {
	content: "\e12a";
}
.icon-electrical-socket-eu:before {
	content: "\e12b";
}
.icon-electrical-plug:before {
	content: "\e12c";
}
.icon-edit:before {
	content: "\e12e";
}
.icon-ear-plugs:before {
	content: "\e12f";
}
.icon-dumbbell:before {
	content: "\e130";
}
.icon-drink:before {
	content: "\e132";
}
.icon-download:before {
	content: "\e134";
}
.icon-download-2:before {
	content: "\e135";
}
.icon-down-arrow:before {
	content: "\e136";
}
.icon-dog:before {
	content: "\e137";
}
.icon-divide:before {
	content: "\e138";
}
.icon-display:before {
	content: "\e139";
}
.icon-dislikes:before {
	content: "\e13a";
}
.icon-direction:before {
	content: "\e13b";
}
.icon-delete:before {
	content: "\e13d";
}
.icon-database-plus:before {
	content: "\e13e";
}
.icon-database-minus:before {
	content: "\e13f";
}
.icon-database-lock:before {
	content: "\e140";
}
.icon-database-ban:before {
	content: "\e141";
}
.icon-dashboard:before {
	content: "\e142";
}
.icon-cutlery:before {
	content: "\e143";
}
.icon-cup:before {
	content: "\e144";
}
.icon-crown:before {
	content: "\e145";
}
.icon-crop:before {
	content: "\e146";
}
.icon-credit-card:before {
	content: "\e147";
}
.icon-conversation:before {
	content: "\e148";
}
.icon-compass:before {
	content: "\e149";
}
.icon-comments:before {
	content: "\e14a";
}
.icon-collapse:before {
	content: "\e14b";
}
.icon-collapse-top:before {
	content: "\e14c";
}
.icon-coins:before {
	content: "\e14d";
}
.icon-cogwheels:before {
	content: "\e14e";
}
.icon-cogwheel:before {
	content: "\e14f";
}
.icon-coffee-cup:before {
	content: "\e150";
}
.icon-cloud:before {
	content: "\e151";
}
.icon-cloud-upload:before {
	content: "\e152";
}
.icon-cloud-download:before {
	content: "\e153";
}
.icon-clock:before {
	content: "\e154";
}
.icon-cleaning:before {
	content: "\e155";
}
.icon-claw-hammer:before {
	content: "\e156";
}
.icon-classic-hammer:before {
	content: "\e157";
}
.icon-circle-remove:before {
	content: "\e158";
}
.icon-circle-question-mark:before {
	content: "\e159";
}
.icon-circle-plus:before {
	content: "\e15a";
}
.icon-circle-ok:before {
	content: "\e15b";
}
.icon-circle-minus:before {
	content: "\e15c";
}
.icon-circle-info:before {
	content: "\e15d";
}
.icon-circle-exclamation-mark:before {
	content: "\e15e";
}
.icon-circle-arrow-top:before {
	content: "\e15f";
}
.icon-circle-arrow-right:before {
	content: "\e160";
}
.icon-circle-arrow-left:before {
	content: "\e161";
}
.icon-circle-arrow-down:before {
	content: "\e162";
}
.icon-check:before {
	content: "\e165";
}
.icon-chat:before {
	content: "\e166";
}
.icon-charts:before {
	content: "\e167";
}
.icon-certificate:before {
	content: "\e168";
}
.icon-celebration:before {
	content: "\e169";
}
.icon-cart-out:before {
	content: "\e16a";
}
.icon-cart-in:before {
	content: "\e16b";
}
.icon-cars:before {
	content: "\e16c";
}
.icon-cargo:before {
	content: "\e16d";
}
.icon-cardio:before {
	content: "\e16e";
}
.icon-car:before {
	content: "\e16f";
}
.icon-candle:before {
	content: "\e170";
}
.icon-camera:before {
	content: "\e171";
}
.icon-camera-small:before {
	content: "\e172";
}
.icon-calendar:before {
	content: "\e173";
}
.icon-calculator:before {
	content: "\e174";
}
.icon-cake:before {
	content: "\e175";
}
.icon-bus:before {
	content: "\e176";
}
.icon-buoy:before {
	content: "\e177";
}
.icon-bullhorn:before {
	content: "\e178";
}
.icon-bullets:before {
	content: "\e179";
}
.icon-building:before {
	content: "\e17a";
}
.icon-bug:before {
	content: "\e17b";
}
.icon-brush:before {
	content: "\e17c";
}
.icon-brightness-reduce:before {
	content: "\e17d";
}
.icon-brightness-increase:before {
	content: "\e17e";
}
.icon-briefcase:before {
	content: "\e17f";
}
.icon-bowling:before {
	content: "\e180";
}
.icon-bookmark:before {
	content: "\e181";
}
.icon-book:before {
	content: "\e182";
}
.icon-book-open:before {
	content: "\e183";
}
.icon-bomb:before {
	content: "\e184";
}
.icon-boat:before {
	content: "\e186";
}
.icon-bluetooth:before {
	content: "\e187";
}
.icon-blog:before {
	content: "\e189";
}
.icon-birthday-cake:before {
	content: "\e18a";
}
.icon-binoculars:before {
	content: "\e18b";
}
.icon-bin:before {
	content: "\e18c";
}
.icon-bicycle:before {
	content: "\e18d";
}
.icon-bell:before {
	content: "\e18e";
}
.icon-beer:before {
	content: "\e190";
}
.icon-beach-umbrella:before {
	content: "\e191";
}
.icon-baseball:before {
	content: "\e192";
}
.icon-barcode:before {
	content: "\e193";
}
.icon-bank:before {
	content: "\e194";
}
.icon-ban:before {
	content: "\e195";
}
.icon-ax:before {
	content: "\e197";
}
.icon-asterisk:before {
	content: "\e198";
}
.icon-anchor:before {
	content: "\e199";
}
.icon-albums:before {
	content: "\e19e";
}
.icon-alarm:before {
	content: "\e19f";
}
.icon-airplane:before {
	content: "\e1a0";
}
.icon-adress-book:before {
	content: "\e1a1";
}
.icon-adjust:before {
	content: "\e1a2";
}
.icon-adjust-2:before {
	content: "\e1a3";
}
.icon-hospital:before {
	content: "\e0e4";
}
.icon-hospital-h:before {
	content: "\e0e5";
}
.icon-show-lines:before {
	content: "\e058";
}
.icon-show-thumbnails-with-lines:before {
	content: "\e057";
}
.icon-list:before {
	content: "\e0c2";
}
.icon-rss:before {
	content: "\e069";
}
.icon-fast-food:before {
	content: "\e031";
}
.icon-chevron-left:before {
	content: "\e000";
}
.icon-chevron-up:before {
	content: "\e003";
}
.icon-chevron-right:before {
	content: "\e004";
}
.icon-chevron-down:before {
	content: "\e005";
}
.icon-caret-up:before {
	content: "\e006";
}
.icon-caret-left:before {
	content: "\e00f";
}
.icon-caret-right:before {
	content: "\e020";
}
.icon-caret-down:before {
	content: "\e022";
}
.icon-angle-up:before {
	content: "\e024";
}
.icon-angle-right:before {
	content: "\e02e";
}
.icon-angle-left:before {
	content: "\e02f";
}
.icon-angle-down:before {
	content: "\e030";
}
.icon-quote:before {
	content: "\e032";
}