.navbar-brand {
    padding: 0px;	
}
.navbar-default {
    background-color: #333;
    border-color: #e7e7e7;
}
.navbar-brand .logo {
	max-height: 50px;
    margin: 7px 0;
}
#navbar-main .nav.navbar-nav li label {
	font-size: 12px;
	margin-bottom: 0;
}
.navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}
.navbar-nav > li > a:focus {
    outline: none;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 16px;
    font-weight: 500;
  }
}

.form-body {
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	background-color: #f1f1f1;
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.form-body label {
	font-size: 12px;
	font-weight: 600;
}

.btn-login {
	margin-top: 15px;
}
.features {
	margin-top: 30px;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #f1f1f1;
    border-radius: 5px;
}
.features h2 {
	color: #11A4BF;
    border-bottom: 2px solid #11A4C3;
}
.features h5 {
	color: #11A4BF;
	font-weight: 600;
}
.features p {
	text-align: justify;
}

.modal .modal-body h5 {
	color: #11A4BF;
	font-weight: 600;
}

/*#navbar-main .nav.navbar-nav {
	margin: 2px 0px 8px;
}*/
/*.btn-login {
    margin-top: 20px;
}*/
/*.nav.navber-nav li:hover a {
	color: #333;
}*/