/* here you can put your own css to customize and override the theme */
.text-white {
	color: #fff !important;
}
.light-grey{
	background-color: #fafafa;
}
.course {
	position:relative;
    border: 1px solid #ddd;
    padding: 5px;
}
.course:hover {
    border: 1px solid #bbb;
}
.course a{
	text-decoration:none;
}
.course .recent-work-description {
	padding: 10px;
	display: block;
	background: #E6400C;
}
.course .recent-work-description strong {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 300;
}
.course .recent-work-description b {
  color: #fff;
  font-weight: 300;
  display: block;
  height: 18px;
  overflow: hidden;
}
.course .recent-work-description b p {
	margin-bottom: 0px;
}
.course:hover .recent-work-description {
  background: #67bd3c;
}
.course .recent-work-description:hover b, .course .recent-work-description:hover strong {
  color: #fff;
}
.tab-content {
	background: none;
}
.bor-bot-org{
	  border-bottom: 1px solid #EF6E12 !important;
}
.table-border0 .table>tbody>tr>td {
	border:none;
}

/*  Start Question paper CSS  */

.question-header{
	background-color:#278be1;
	height:60px;
	box-shadow: 0px 5px 10px 1px #ADADAD;
	-webkit-box-shadow: 0px 5px 10px 1px #ADADAD;
	-moz-box-shadow: 0px 5px 10px 1px #ADADAD;
	-o-box-shadow: 0px 5px 10px 1px #ADADAD;
}
.TestName {
	text-align:left;
	color:#fff;
	margin-top:20px;
	padding-left:20px;
    width: 400px;
    max-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.TestOrganiser {
	text-align:center;
	color:#fff;
	margin-top:15px;
	margin-left:-300px;
}
.table-bordered tr th, .table-bordered tr td {
	 text-align:center;
}
.badge-padd .badge{
	padding: 8px 10px 18px 10px;
	margin-top: -4px;
}
.padd3{
	padding: 3px;
}
.padd5{
	padding: 5px;
}
.mrg15 {
	margin-bottom:15px;
}
.mrg-top5 {
	margin-top:5px;
}
.mrg-top10 {
	margin-top:10px;
}
.Profile-mrg50per{
	  margin-top: 80%;
}
.StartTest{
	margin:10px 40%;
}
.padd15 {
	padding:15px;
}
.padd7 {
	padding:7px;
}
.padd20 {
	padding: 20px 20px 0px 20px;
}
.padd-top20 {
	padding-top:20px;
}
.padd-left30 {
	padding-left:30px;
}
.border-bbb {
	border: 1px solid #bbb;
}
.border-top-bbb {
	border-top: 1px solid #bbb;
}
.border-right-bbb {
	border-right: 1px solid #bbb;
}
.border-right-999{
	border-right: 1px solid #999;
}
.QuestionDetailsHeight {
	height:400px;
}
.QuestionPalette-bg {
	background-color: #eef7fb;
	border: 1px solid #BAE9FD;
}
.QuestionPalette-height {
	height:155px;
}
.mrg-bot5 {
	margin-bottom:5px;
}
.btn-right{
	float:right;
	margin-left:5px;
}
.profile-icon {
	margin-top:50px;
	font-size:80px
}
.width100per{
	float:left;
	margin-right:5px;
}
.width100perR{
	float:right;
}
.save-btnBox {
	height: 50px;
}
@media (max-width : 991px){
	.Profile-mrg50per{
		  margin-top: 0px;
		  margin:0px auto;
	}
	.portlet.calendar .mobile .fc-button {
		padding: 0px 6px 0px !important;
		background-color: #1BBC9B !important;
	}
	.portlet.calendar .mobile .fc-button:hover {
		background-color: #ddd !important;
	}
	.portlet.calendar .fc-button {
		top: 0px !important;
		margin-bottom: 5px !important;
	}
}
@media (min-width : 500px) and (max-width : 767px){
	.StartTest{
		margin:10px 30%;
	}
}
@media (min-width : 400px) and (max-width : 499px){
	.StartTest{
		margin:10px 25%;
	}
}
@media (max-width : 499px){
	.portlet > .portlet-title > .nav-tabs {
		float: left !important;
	}
	.nav-tabs > li {
		float: none;
	}
}
@media (max-width : 400px){
	.StartTest{
		margin:10px 0px;
	}
}
@media (max-width : 519px){
	.save-btnBox {
		height: 128px;
	}
	.width100per{
		width:100%;
	}
	.width100perR{
		width:100%;
		float:left;
	}
}
@media (max-width : 767px){
	.TestName{
		text-align:center;
	}
	.TestOrganiser {
		text-align:center;
		color:#fff;
		margin-top:0px;
		margin-left:auto;
	}
	.question-header {
		background-color: #278BE1;
		height: 90px;
		box-shadow: 0px 5px 10px 1px #ADADAD;
	}
	.course .recent-work-description b {
		font-weight: 400 !important;
		font-size: 10px !important;
	}
	.course .recent-work-description strong {
    color: #FFF;
    display: block;
    font-size: 12px;
    font-weight: 500;
}
}

.ui-sortable tr {
	cursor: move;
}
#questionspaper-table tr th, #questionspaper-table tr td {
	text-align: left;
}
#questionspaper-table tr th:first-child, #questionspaper-table tr td:first-child {
	text-align: center;
}
button.close {
	color: #fff;
}

.VTP-right-side .desc {
	margin-top: 20px;
}
.VTP-right-side .desc a {
	color: #fff;
	text-decoration: none;
    font-weight: 500;
}
.VTP-right-side .desc a:hover {
	color: #fff;
}
.VTP-right-side .dashboard-stat .visual {
    width: 70px;
    color: #fff;
    height: 40px;
}
.VTP-add-test {
    padding-top: 35px;
}
.VTP-right-side .dashboard-stat .VTP-add-test a {
    margin-left: -60px;
    color: #fff;
    text-decoration: none;
    z-index: 100050;
}
.VTP-right-side-divider {
	border-left: 1px dotted #000;
}
.sub-box {
	width: 100%;
    background-color: rgba(50, 110, 191, 0.83);
}
.sub-box .sub-name {
    font-size: 18px;
    padding: 20px 20px;
}
.sub-box .sub-name a {
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
}
.program-name {
	text-transform: capitalize;
}
.sequencing-list .option .btn p {
	margin-bottom: 0px;
}
.sequencing-list .option .btn-default {
	cursor: all-scroll;
}
.sub-box .sub-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.create-report {
	margin-top: 23px;
	margin-bottom: 15px;
}
.blue-border {
    border: 1px solid #7cacfa;
}
.green-border {
    border: 1px solid #4bc75e;
}
.add-color {
    color: #3CA04C;
}
.delete {
    color: #f00;
}
.mrg-left5 {
    margin-left: 5px;
}
.mrg-left10 {
    margin-left: 10px;
}
.required {
    color: #e02222;
    font-size: 12px;
}
@media (min-width: 811px){
	.width-select-type {
		width:90%;
	}
}
@media (max-width: 810px){
	.width-select-type {
		width:80%;
	}
}
.closed {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url("../img/remove-icon-small1.png") !important;
}
.mrg-right15 {
	margin-right: 15px;
}
.mrg-bot10 {
	margin-bottom: 10px;
}
.mrg-bot20 {
	margin-bottom: 20px;
}
.mrg-bot80 {
    margin-bottom: 80px;
}
.mrg-bot100 {
    margin-bottom: 100px;
}

.border-ccc {
	border: 1px solid #ccc !important;
	padding: 1px 5px;
}
.border-top-ccc {
	border-top: 1px solid #ccc;
}
.border-right-ccc {
	border-right: 1px solid #ccc;
}
.mrg-top20 {
	margin-top:20px;
}
.mrg-top24 {
    margin-top: 24px;
}
.mrg-tb20 {
	margin-top:20px;
	margin-bottom: 20px;
}
.mrg-left40 {
	margin-left: 40px;
}
.mrg-right40 {
	margin-right: 40px;
}
.mrg-top40 {
	margin-top: 40px;
}
.mrg-tb40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.padd-tb20 {
	padding-top:20px;
	padding-bottom: 20px;
}
.question-paper-intruction-heading {
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.8;
}
.question-paper-intruction-heading span {
	font-weight: 700;
}
.mrg-bot27 {
	margin-bottom: 27px;
}
.btn-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sequencing-list.ui-sortable .btn {
	white-space: normal;
	text-align: left;
}
.Fb-list.input-droppable.ui-droppable .option .border-ccc {
	display: inline-block;
	cursor:pointer;
}
.course .recent-work-description p {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.course .recent-work-description p strong {
	display: inline;
	font-size: 13px;
	font-weight: 600;
}
.content-page.we-offer h2 {
	font-size: 25px;
}
.col-md-9>a.recent-work-description.test-program {
    height: 75px;
    display: block;
    overflow: hidden;
}
.grey-cascade.btn {
	background-color: #4C5B6B !important;
	color: #fff;
}
.grey-cascade.btn:hover, .grey-cascade.btn:focus {
	background-color: #3E4D5C !important;
}
.header-ul-user {
	margin-top: -6px;
}
.header-menu-li-user {
	margin-top: -6px;
    margin-bottom: -7px;
}
.section-questions .table-bordered tr th, .section-questions .table-bordered tr td {
    text-align: left;
}
.p-mrg-left-40 h5 {
	font-weight: 700;
    margin-left: 15px;
}
.p-mrg-left-40 ul {
    margin-left: 10px;
    padding-left: 40px;
}
.panel-title a.color-dark {
	color: #4C5B6B;
}
.panel-title a.color-dark:hover {
	color: #3E4D5C;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #e6400c;
    color: #fff;
    padding: 5px 10px 4px;
}
.nav-tabs > li > a {
    font-size: 12px;
}
.modal-content {
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border: 0px;
}
.modal .modal-header {
    border-bottom: 1px solid #EFEFEF;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.borderccc {
	border: 1px solid #ccc;
	padding: 15px;
    margin-bottom: 10px;
}
.bor-ccc {
	border: 1px solid #ccc;
}
a.konw-more {
	color: #fff;
	text-decoration: none;
}
a.konw-more:hover {
	color: #E84D1C;
}
.table-tilte{
	font-weight: 500;
}
.score-card-details h4 {
	font-weight: 400;
}
.time-taken {
	padding: 10px 0px 30px;
}
.score {
	background-color: #35AA47;
	text-align: center;
	height: 50px;
	/*width: 120px;*/
	padding: 10px 0px;
    float: right;
}
.score span {
	color: #fff;
	margin: 10px;
	float: none;
}
.valign {
	vertical-align: middle;
}
.detailed-Q-R {
	width: 100%;
	display: flex;
}
.detailed-Q-R-div {
	width: 20%;
	padding: 10px;
	text-align: center;
}
.in-correct {
	color: #f00;
}
.correct {
	color: #35AA47;
}
.light-bg-color {
    background-color: #f5f5f5;
}
.white-bg {
	background-color: #fff;
}
.list-style-none {
    list-style: none;
}
.product-border {
	border: 1px solid #ddd;
}
.product-border:hover {
	border: 1px solid #bbb;
}
.product-border, .product-border a.recent-work-description {
	color: #555;
	text-decoration: none;
}
.product-border:hover, .product-border:hover a.recent-work-description {
	/*color: #E94D1C;*/
	color: #000;
}
#program-details-modal table tr td {
	font-weight: normal;
}
/*.score-card-details .border-right-999, .time-analysis .border-right-999 {
	height: 90px;
    padding: 22px 0px;
}
.score-card-details .average-time, .time-analysis .average-time {
	height: 90px;
    padding: 22px 0px;
}*/
.time-analysis .border-right-999 {
	height: 150px;
    padding: 22px 30px;
}
.time-analysis .average-time {
	height: 150px;
    padding: 22px 30px;
}
.font24 {
	font-size: 18px !important;
}
.well.tiles .tile.medium {
    width: 196px !important;
}
.mrg-right0 {
	margin-right: 0px !important;
}
.bg-light-red-intense {
    border-color: #FD2525 !important;
    background-image: none !important;
    background-color: #F72424 !important;
    color: #FFFFFF !important;
}

table tbody tr td span.right i {
	color: #4DAD12;
}
a.btn-center.inline-block {
	display: inline-block;
}
.font500 {
	font-weight: 500;
}
.page-404 .number {
	color: #E02222 !important;
}

.modal-header {
    /*background-color: #4B8DF8;*/
    background-color: #3E4D5C;
    color: #fff;
}
.sol-expla-scrllbar {
    max-height: 150px;
    overflow-y: scroll;
}
/*div.score-card-details.tiles .tile {
	margin: 0px auto;
}*/


/* Start CSS For Header */
#toolbar {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
#toolbar [class*=" fa-"] {
	font-size: 12px;
}
.thim-link-login ul {
	margin-bottom: 0px;
}
#toolbar .thim-link-login ul li a.dropdown-toggle i {
	width: 7px;
}
/* End CSS For Header */

.cards li a:hover {
    box-shadow: 0 0 2px #ccc;
    opacity: .8;
    text-decoration: none;
}

.courses-filters-section.well form#filter ul.ul-category-filter {
	margin: 0px;
	list-style: none;
}
.courses-filters-section.well form#filter ul.ul-category-filter li label {
	color: #333;
	font-weight: 500;
}

#programs-container .course-item {
	padding: 10px;
	border: 1px solid #eee;
}
#programs-container .course-item:hover {
    box-shadow: 0 0 2px #ccc;
	border-color: #ddd;
	opacity: 0.8;
}
#programs-container .course-item .thim-course-content {
	padding: 10px 0px;
}
#programs-container .course-item .thim-course-content .course-title {
	margin: 0px;
}
#programs-container .course-item .thim-course-content .course-title span.test-program {
    font-size: 16px;
    color: #333;
    display: block;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    min-height: 40px;
}
#programs-container a.test-program {
	margin-bottom: 20px;
	display: block;
}
#programs-container .course-item .thim-course-content .course-meta {
	margin-top: 10px;
	text-align: center;
}
#programs-container .course-item .thim-course-content .course-meta div {
    display: inline-block;
}
#programs-container .course-item .thim-course-content .course-meta div.course-students {
	color: #f69329;
	font-size: 13px;
	font-weight: 600;
}
#programs-container .course-item .thim-course-content .course-meta div.course-price {
    font-size: 13px;
    color: #f69329;
    font-weight: 600;
}
#programs-container .course-item .thim-course-content .course-meta div.course-price i {
    font-size: inherit;
}

/* Start CSS For Footer */
.main {
	min-height: 479px;
}
footer.copyright {
	background-color:#382974;
	color: #fff;
	padding: 15px 0px;
}
footer.copyright p {
	margin-bottom: 0px;
    font-size: 12px;
    line-height: 2.1em;
}
footer.copyright .logo-footer {
	float: right;
}
footer.copyright img.footer-logo {
	/*max-width: 100px;*/
}
@media (max-width: 767px) {
	footer.copyright {
		text-align: center;
	}

	footer.copyright .logo-footer {
		float: none;
		margin: 0 auto;
    	display: inline-block;
	}
    .mrg-sm{
        margin-top: -40px;
    }
}
/* End CSS For Footer */

/* Start CSS for graph */

.answers.sequencing-list.ui-sortable .ui-sortable-handle {
    cursor: move;
}

.caption {
	display: block;
	text-align: center;
	font-weight: bold;
	/*height: 40px;*/
}

.graph {
	position: relative;
	float: right;
}

.graph ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.legend {
   background: #f0f0f0;
   border-radius: 4px;
   bottom: 0;
   position: relative;
   text-align: left;
   width: 100%;
}

.legend li {
   display: block;
   float: left;
   height: 20px;
   margin: 0;
   padding: 10px 20px;
}

.legend span.icon {
   background-position: 50% 0;
   border-radius: 2px;
   display: block;
   float: left;
   height: 16px;
   margin: 2px 10px 0 0;
   width: 16px;
}
span.promocode {
	color: #f00;
	cursor: pointer;
}

#success-gap-graph .highcharts-container,
#topper-gap-graph .highcharts-container {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    max-width: 100% !important;
}
.register-div {
    border: 1px solid #ffb606;
    border-radius: 10px !important;
    margin-top: 15px;
}
.legend-div.form-group p {
	margin-bottom: 10px;
	font-size: 14px;
    line-height: 1.2;
}
.legend-div.form-group .row div[class^="col"] {
	padding-right: 0px;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.legend-div.form-group .row div[class^="col"] {
		width: 100%
	}
}
.thim-link-login ul.dropdown-menu {
	right: 0 !important;
	left: auto !important;
}
.thim-link-login .dropdown > .dropdown-menu:before,
.thim-link-login .dropdown-toggle > .dropdown-menu:before,
.thim-link-login .btn-group > .dropdown-menu:before {
	left: auto;
	right: 20px;
}
.thim-link-login .dropdown > .dropdown-menu:after,
.thim-link-login .dropdown-toggle > .dropdown-menu:after,
.thim-link-login .btn-group > .dropdown-menu:after {
    left: auto;
    right: 21px;
}
@media (max-width: 450px) {
	.TestName {
		width: auto;
	}
}
.legend-div.form-group .row span {
	margin-bottom: 10px;
	font-size: 11px;
	display: block;
}

.badge-purple {
  background-color: #8E44AD;
  background-image: none;
}

.badge-white {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
}

/* start css added by pawan */

/* end css added by pawan */

.x-axis {
   bottom: 0;
   color: #555;
   position: absolute;
   text-align: center;
}

.x-axis li {
   float: left;
   margin: 0 10px;
}

.y-axis {
   color: #555;
   position: absolute;
   text-align: left;
}

.y-axis ul {
	padding: 0px;
	margin: 0px;
}

.y-axis li {
   border-top: 1px solid #ccc;
   display: block;
}

.y-axis li span {
   display: block;
   position: relative;
   text-align: right;
}

.bars {
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	position: relative;
	margin: 0 10px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	#cursor: pointer;
	display: block;
}

.bar span {
	margin-top: -25px;
	*zoom: 1;
	display: none;
	position: relative;
}

.item-0 {
	background: #d0e4f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
	background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

.item-1 {
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(left,  #f0b7a1 0%, #8c3310 42%, #752201 59%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0b7a1), color-stop(42%,#8c3310), color-stop(59%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(to right,  #f0b7a1 0%,#8c3310 42%,#752201 59%,#bf6e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 */
}

.item-2 {
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(left,  #6d6d6d 0%, #828282 12%, #666666 25%, #424242 49%, #727272 72%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d6d6d), color-stop(12%,#828282), color-stop(25%,#666666), color-stop(49%,#424242), color-stop(72%,#727272), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* IE10+ */
	background: linear-gradient(to right,  #6d6d6d 0%,#828282 12%,#666666 25%,#424242 49%,#727272 72%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#666666',GradientType=1 ); /* IE6-9 */
}

.item-3 {
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(left,  #bfd255 0%, #8eb92a 28%, #72aa00 47%, #8eb92a 78%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bfd255), color-stop(28%,#8eb92a), color-stop(47%,#72aa00), color-stop(78%,#8eb92a), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to right,  #bfd255 0%,#8eb92a 28%,#72aa00 47%,#8eb92a 78%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 */
}

.float-left p{
	float: left;
}

.float-left strong{
	float: left;
}

.countdown-timer{
	font-size: 16px;
}


/* End CSS for graph */

.bg-white{
	background-color: #fff !important;
	border: solid 4px #ccc !important;
}
.tiles .tile .tile-object > .name{
	color: #333! important;
}
.tiles .tile.green .tile-body{
	color: #35aa47;
}
.tiles .tile .tile-object > .number{
	color: #333333 !important;
}
.tiles .tile.purpal .tile-body{
	color: #8E44AD;
}
.tiles .tile.red .tile-body{
	color: #F72424;
}

.tiles .tile.blue .tile-body{
	color: #4b77be;
}

.tiles-details{
	margin: auto;
	display: inline-block;
}
.portlet.grey-cascade {
    border-top: 1px solid #b1bdbd !important;
}
.portlet.grey-cascade, .portlet.grey-cascade .portlet-title {
    background-color: transparent !important;
}
.portlet.box.grey-cascade > .portlet-title > .caption,
.portlet.box > .portlet-title .fonts-black {
    color: #333 !important;
}
.tabbable-line .test-history .sidebar .list-group-item {
	display: inline-block;
	background-color: #fff;
	margin-bottom: 0px;
}
.tabbable-line .test-history .sidebar .list-group-item a {
	color: #5b9bd1;
}
.tabbable-line .test-history .sidebar .list-group-item a:hover {
	color: #3175af;
	text-decoration: underline;
}
.tabbable-line .test-history .sidebar .list-group-item.active,
.tabbable-line .test-history .sidebar .list-group-item.active:hover,
.tabbable-line .test-history .sidebar .list-group-item.active:focus {
    background-color: #747F8C;
    color: #fff;
}
.tabbable-line .test-history .sidebar .list-group-item.active a,
.tabbable-line .test-history .sidebar .list-group-item.active:hover a,
.tabbable-line .test-history .sidebar .list-group-item.active:focus a {
    color: #fff;
}
.tabbable-line .test-history .sidebar .list-group-item.active:hover a {
	text-decoration: underline;
}
.tabbable-line .test-history .sidebar .list-group.margin-bottom-25.sidebar-menu {
    border-bottom: 1px solid #747F8C;
    margin-left: 0px;
    margin-right: 0px;
}
.tabbable-line .test-history .tab-content{
    padding: 0px 15px 20px;
}
.label-default {
    background-color: #747F8C !important;
}
#test_paper_instructions ul, #test_paper_instructions ol {
	margin-left: 25px;
}
.normal-question-div {
    overflow-y: scroll;
    max-height: 389px;
}
.student-analytics {
	text-align: center;
	padding: 20px 0;
	background-color: #333;
}
.student-analytics .number {
	font-size: 36px;
	color: #fff;
}
.student-analytics .text {
    font-size: 12px;
    text-transform: uppercase;
    color: #8e9aa9;
}
.footermap {
	background: url(../../pages/img/map.png) no-repeat;
}
.footermap p,
.footermap p.info {
	margin-bottom: 10px;
}
.thim-social a i {
    width: auto;
}
footer#colophon .footer .widget-title {
    font-family: Roboto Slab;
}
footer .widget p,
footer ul li {
    font: 300 14px/1.4 "Open Sans", Arial, sans-serif;
    font-weight: 400;
}
.font-size17{
	font-size: 17px !important;

}
.main .services-block p{
	text-align:center;
	padding-bottom: 70px;
	color: #333333;
	font-size: 15px;
}
.main .services-block h2 strong{
	color: #f69329;
	font-size: 30px;
}
.main .services-block .item{
	text-align: center;
}
.fa.medium {
    font-size: 28px;
}
.main .services-block .item .fa.medium.circle-white {
    width: 95px;
    height: 95px;
    line-height: 95px;
    display: inline-block;
    /*background: red;*/
}

.fa.circle-white {
    color: #2A88BE;
}
.fa.circle-white {
    -moz-border-radius: 95px;
    -webkit-border-radius: 95px;
    border-radius:5px;
    background-color: #d2d0d0;
    color: #02375F;
    text-align: center;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.experts{
  padding: 28px;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}


.librari{
  padding:7px;
  transition: all 0.5s ease-in-out;
}
.item i:hover {
    background-color: #2A88BE;
}
.item i:hover {
    background-color: #02375F;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.item h3 {

	 position: relative;
}
.item h3:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 48.5%;
	top: -12px;
	text-align: center;
	z-index: 1;
	background: #034c6e;
	/*margin-left: -12px;*/
	border-radius: 31px;
	margin: 0 auto;
}

.item h3:after {
	   position: absolute;
	content: "";
	height: 13px;
	width: 2px;
	left: 50%;
	top: -25px;
	text-align: center;
	z-index: 1;
	background: #034c6e;
	/*margin-left: -16px;*/
}
@media(max-width: 1199px){
   .item h3:before {
	left: 48%;
	top: -12px;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}

@media(max-width: 850px){
   .item h3:before {
	left: 47.7%;
	top: -13px;
	margin: 0 auto;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}
@media(max-width: 768px){
   .item h3:before {
	left: 49.2%;
	top: -13px;
	margin: 0 auto;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}
@media(max-width: 616px){
   .item h3:before {
	left: 49.1%;
	top: -13px;
	margin: 0 auto;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}

@media(max-width: 475px){
   .item h3:before {
	left: 48.8%;
	top: -13px;
	margin: 0 auto;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}
@media(max-width: 399px){
   .item h3:before {
	left: 48.2%;
	top: -13px;
	margin: 0 auto;
}

.item h3:after {
	left: 50%;
	top: -25px;
}
}

.team-block.content h2 strong{
	color: #f69329;
}
.tb-socio .fa {
    width: 33px;
    height: 33px;
    color: #b3bdc6;
    border-radius: 50% !important;
    border: solid 1px #d5d5d5;
    font-size: 19px;
    line-height: 19px;
    margin: 0 7px;
    padding-top: 7px;
}

.tb-socio .fa:hover {
    color: #e6400c;
    border: solid 1px #e6400c;
}
.team-block.content .item img{
	width: 90%;
	transition:1s;
}
.team-block.content .item img:hover{
	border: solid 1px #787070;
	width: 100%;
}
.choose-us-block .panel-group .panel {
	box-shadow: none;
}
.main .score-chart {
    background-color: #008bcc;
    border: solid 1px #ddd;
    box-shadow: -webkit-box-shadow: 0px 0px 5px 5px rgba(133,117,133,0.75);
    -moz-box-shadow: 0px 0px 5px 5px rgba(133,117,133,0.75);
    box-shadow: 0px 0px 5px 5px rgba(133,117,133,0.75);
}
.content-page h2{
	padding-top: 10px;
	font-weight: 600;
	color: #242e3a;
}
.exam-details-div span.strem{
	font-size: 18px;
	float: right;
    color: #008bcc;

}
.alert.alert-info {
    /*background-color: #4dc8c9;*/
}
.alert.alert-info h5{
	text-align: center;
	margin-bottom: 0px;
	font-size: 16px;
	color: #fff;
}
.alert.alert-info .btn-primary{
	background: #f6932a;
	border: solid 1px #4dc8c9;
}
#pricing h3 {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #da2e21;
}
#pricing h3 i {
	font-size: 20px;
}
@media (max-width: 767px) {
	.thim-best-industry {
	    margin: 0;
	    padding-top: 15px;
	}
	.detailed-Q-R {
	 	overflow-y: hidden;
	 	overflow-x: scroll;
	}
	.detailed-Q-R-div {
		width: 100%;
	}
}
.request-demo-div {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    position: fixed;
    top: 180px;
    right: -54px;
    left: auto;
    z-index: 999;
    /*background-color: #f69329;
    padding: 5px;*/
}
/*.request-demo-div h4 {
	font-size: 14px;
	margin: 0;
	font-weight: 500;
}*/
.request-demo-div a {
    text-transform: capitalize !important;
    font-family: Roboto !important;
}
a.have-code {
	font-size: 13px;
}
.regular-price {
	color: #999;
}

.btn-facebook {
	background-color: #3b5998;
}
.btn-google {
	background-color: #d2352c;
}
.btn-sociallogin {
	border-radius: 4px !important;
}
.btn-sociallogin i {
	padding-right: 10px;
	margin-right: 5px;
	border-right: 1px solid #eee;
}
.breadcrumb {
	padding-bottom: 10px;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.gray-bg {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}
.dark-table-header thead tr {
    background-color: #242e3a;
    color: #fff;
}
h1, h2 {
	font-family: inherit;
}
.page-title-div {
	padding: 30px 0px;
	background-image: url('../../pages/img/title-bg/page-title-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
	color: #fff;
	margin-bottom: 15px;
}
.page-title-div h1,
.page-title-div h2 {
	margin: 0px;
	color: #fff;
}
#toolbar #login-menu-2 ul li ul li a {
	color: #777 !important;
	width: 100%;
    text-align: center;
}
.table-leader-board tbody tr td {
	vertical-align: middle;
}
.table-leader-board tbody tr td img {
	max-width: 80px;
	margin: 0 auto;
}
marquee{
    /*background: red;*/
    color: #e6400c;
    font-weight: 600;
}
@media (max-width: 768px) {
	.content-pusher {
	     height: auto;
	}
}


/*team starts*/

.overlay1
{
	position: absolute;
	background-color: rgba(16,17,19,0.8);
	top:0;
	height:100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}


.teamdiv{
	display: none;
}

@media(max-width: 991px){

.teamdiv{
	display:block;
}


.teamdiv2{
	display: none;
}

}

.employ_pic {
	width: 250px;
	height: 250px;
	border-radius: 50%!important;
	overflow: hidden;
	border: solid 10px #4c4c49;

}

.employ_pic img{
	width:100%;
	height: auto;
}
.description{
padding-top: 20px!important;
}
.employ_descr h4,
.employ_descr h6{
	float: left;
	font-weight: 500;
}
.employ_descr h6{
	margin-top: 0px;
}
.employ_descr p{
	float: left;
	text-align: justify!important;
	font-weight: 400;
}

.employ_descr2 h4,
.employ_descr2 h6{
	float:right;
	font-weight: 500;
}
.employ_descr2 h6{
	margin-top: 0px;
}
.employ_descr2 p{
	float: right;
	text-align: justify !important;
	font-weight: 400;
}

@media(max-width: 991px){

.employ_descr2 h4,
.employ_descr2 h6{
	float:none;
	font-weight: 500;
}

.employ_descr h4,
.employ_descr h6{
	float: none;
	font-weight: 500;
}
.employ_descr2 p{
	float:none;
	text-align: center!important;
	font-weight: 300;
}
.employ_descr p{
	float:none;
	text-align:center!important;
	font-weight: 300;
}

/*.employ_descr2 p{
	text-align: center !important;
}*/



/*contact css*/
.botn a{
	float: right;
	margin-right: 10px;
}
.contact_us h2{
	font-size: 32px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 50px;
}
.contact-info  a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	overflow: hidden;
	margin-top: 7px;
	color: #444;
	float: left;
}
.contact-info li a i{
	background-color:orange;
}
.contact-info li address{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.7;
	overflow: hidden;
	margin-top: 7px;
	color: #757575;
	padding: 20px;
	text-align: center;
}
.team{
	height: 70px;
	width:100%;
	margin-top: 22px;
}
.team h2{
	font-weight: 500;
	font-size: 32px;
	text-align: center;
}

@media(max-width: 993px){
	.contact-matter{
		margin-top: 80px;
	}
	.botn a{
	float:none;
	margin-right: 10px;
	text-align: center;
}
}
#masthead .navigation {
    min-height: 60px !important;
}

/*exampageslider content*/
