/*sscpagecss*/

#mainssc{
	padding: 0px;
	margin: 0px;
	position: relative;
}
.ssctest_nav{
	background-color:#606a74;
	width: 100%;
	height:80px;
    line-height: 80px;
}

.launch_logo {
   margin: 0 auto;
   width: 300px;
   height:100px;
}

header{
	width: 100%;
	background-color: #b9d22c;
}

header p{
    font-weight:600;
	margin-top: 10px;
}

.ques_box_nav{
	background-color: #606a74;
	height:40px;
	line-height:40px;
	border-radius: 5px 5px 0 0;
	color: white!important;
}

.ques_box_nav a{
	color: white!important;
	font-size: 20px;
	padding: 0 5px;
}
.ques_box_nav p{
	color: white;
	float:right;
}
.timer span{
    background-color: #606a74;
    padding: 12px;
    color: #fff;
}
.ques_box_content{
	background-color: #ececec;
	height:460px;
	border-radius: 0px 0px 5px 5px;
}

.ques_box_content p{
	color: black;
	float:right;
}
#que{
	margin-left: -15px;
}
.dropdown{
	padding-top: 3px;
	float: right;
}
.id_box_nav{
	background-color: #b9d22c;
	height:200px;
	margin-bottom:20px;
	border-radius:5px;
}

@media(max-width: 992px){
	.id_box{
	margin-top: 20px;
}

}

.id_box_content{
	background-color: #d9d9d9;
	height:280px;
	border-radius: 5px;
}

.id_box .img_box{
	width: 110px;
	height: 130px;
	overflow: hidden;
	margin-top: 8px;
}

.qbox{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.qtag{
	width: 35px;
	height: 25px;
	padding: 4px 8px;
	background-color: #fff;
	float: left;
	margin:2px;
}
.qtag:hover{
	background-color:skyblue;
}

.lbox{
	width: 100%;
	height: 90%;
	margin: 0 auto;
	border: 1px solid grey;
}


.lbox ul li{
	list-style-type: none;
     padding-top: 5px;

}

.lbox ul li i{
}

.lbox ul li span{
	width: 16px;
    height: 14px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.green{
	background-color:green;
}
.blue{
	background-color: skyblue;
}

.white{
	background-color: white;
}

.yellow{
	background-color: yellow;
}

.violet{
	background-color: violet;
}

.timer{
	float: right;
}
.margt_20{
	margin-top: 20px;
}

footer{
	background-color:#d9d9d9;
	bottom: 0px;
	width: 100%;
	position: fixed;

}

#botn{
padding-top: 10px!important;
text-align: center;
}

/***
Custom Scrollbars
***/

/*Ravi Prakash Sahoo*/
.scroller::-webkit-scrollbar-button {
   background-size:contain;
   background-position:50%;
}
.scroller::-webkit-scrollbar-button:vertical:increment {
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Chevron_down_font_awesome.svg/512px-Chevron_down_font_awesome.svg.png');
}
.scroller::-webkit-scrollbar-button:vertical:decrement {
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Chevron_up_font_awesome.svg/2000px-Chevron_up_font_awesome.svg.png');
}
/*Ravi Prakash Sahoo*/


