@import url(font-awesome.css);
@import url(flexslider.css);
@import url(colorbox.css);
@font-face {
	font-family: 'BebasNeue';
	src: url('font/BebasNeue-webfont.eot');
	src: url('font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/BebasNeue-webfont.woff') format('woff'),
		 url('font/BebasNeue-webfont.ttf') format('truetype'),
		 url('font/BebasNeue-webfont.svg#BebasNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}


.mTop {
		position: relative;
		height: 70px;
}
.topHead{
	background: #ecf0f1;
}
	.topContact {
		text-align: center;
		margin:0 auto;
	}
	.form-search .input-append{
		float: right;
	}
	.form-search {
		float: right;
		margin: 0;
	}
	.topContact li {
		display: inline-block;
		font-size: 13px;
		line-height: 41px;
		padding:0 5px;
		cursor:pointer;
		font-family: 'Open Sans',sans-serif;
	}
	.topContact span {
		padding: 2px 10px;
		position: relative;
	}
	.addresTop:hover,.mailTop:hover,.phoneTop:hover {
		background:#fff;
		color:#232323;
		-webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease;

	}



.brand img {
		margin-top: 3px;
		height: 65px;
		display: inline;
}
.sticky-wrapper.is-sticky {
		background: none repeat scroll 0 0 #FFFFFF;

}
.headContent{
		background: none repeat scroll 0 0 #fff;
		/*border-bottom: 1px solid #ecf0f1;*/
		max-height: 100px;
		position: relative;
		z-index: 9999;
		display: inline-block;
		width: 100%;
}

/* -------------------------------------------------------------------------------- /
	[10.1] LAVALAMP PLUGIN
/ -------------------------------------------------------------------------------- */
li.backLava{
	position: absolute;
	z-index: 0;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 6px;
	border-bottom: 3px solid #ffc438 !important;
}

	li.backLava:before {
		content: "";
		position: absolute;
		top: 85%;
		left: 50%;
		margin-left: -5px;
		border-color: transparent;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #000 !important;
		border-width: 5px;
		border-style: solid; }

/* ==========================================================================
	 Menu
============================================================================= */
	#navigator{
		background:none
	}
	.menu {
		float:right;
		height:auto;
		position: relative;
	}

	nav select { display: none; }
	nav { line-height: 1; position: relative; z-index: 9; margin:0 auto; list-style-type:none;}
	.navMenu { clear: both; list-style: none; padding:0; margin:0 auto; }
	.navMenu > li {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}
	.navMenu li { position: relative;margin-right: -2px;}
	.navMenu > li:last-child { background: none repeat scroll 0 0 transparent;padding-right:0;border-right:0; }

	.navMenu > li:first-child a{
		background: none repeat scroll 0 0 transparent;
	}
	.navMenu > li > a { color: #2c3e50; text-transform:capitalize; float: left; font-weight:500; font-size:14px; padding:27px 15px; text-decoration:none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease-out; font-family:Open Sans;line-height: 18px;}
	.navMenu > li.current > a, .navMenu > li > a:hover, .navMenu > li.sfHover > a { color: #FFF; text-decoration:none; }
	.navMenu > li.current > a { color: #1abc9c; }

	.navMenu > li.current > a, .navMenu > li > a:hover, .navMenu > li.sfHover > a, .navMenu > li.current > a { color: #1abc9c;background: transparent;}
	.navMenu ul { font-size: 12px; list-style: none; text-align: left; margin: 0; padding: 0; position: absolute; left: 2px; display:none; top: 59px; z-index: 999; background:#FFF;}.navMenu ul li { background:none; }
	.navMenu ul ul { left: 175px; top: 0px; }
	.navMenu ul li { width: 170px; border-bottom: 1px solid #e3e3e3;/*margin-bottom: 1px;*/
	}
	.navMenu ul li:last-child { border-bottom: 0 none; }
	.navMenu ul a { color: #333; display: block; margin:0; font-weight:600; padding: 8px 0; text-transform:none; text-decoration:none; }
	.navMenu ul li { margin-bottom:0; }
	.navMenu ul li a:hover, .navMenu ul li.sfHover > a { color: #FFF; text-shadow:0 1px 0 #333; background:#29292a; font-weight:600; padding:8px 10px 8px 14px; text-shadow:0 1px 0 rgba(0, 0, 0, 0.3); }




/*SLIDER*/

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	height:500px;
	max-height:600px !important;
	overflow:hidden;
	z-index:9;
}


/*INTRO*/
.intro {
		display: block;
		padding: 60px 0;
		position: relative;
		text-align: center;
}

/*SEPARATOR*/
.separator{
	padding: 60px 0;
	position: relative;
}


/*Tabs*/
.tab-content {
		background: none repeat scroll 0 0 #FFFFFF;
}
.nav.nav-tabs.nav-append-content {
		margin-top: 30px;
}



/*TESTIMONIALS*/

.testimonialPicture { width:90px; margin:0 auto 30px; }

.testimonialPicture > img {
		border: 4px solid #FFFFFF;
		border-radius: 100% 100% 100% 100%;
}

.testi p.testio:before, .testi p.testio:after {
		bottom: 7px;
		color: #FFFFFF;
		content: ",,";
		font-family: open sans;
		font-size: 30px;
		font-weight: 100;
		left: auto;
		letter-spacing: -3px;
		margin-right: 10px;
		position: relative;
}
.testi p.testio:after {
	 margin-left: 10px;
}
.testi p {font-size:20px; color:#ffffff; text-align:center; padding:0 120px;  line-height:1.4;}
.testi p.testio {
		color: #ECF0F1;
		display: block;
		font-family: Open Sans,sans,helvetica;
		font-size: 16px;
		font-style: inherit;
		font-weight: 700;
		margin-bottom: 30px;
		padding-bottom: 30px;
		position: relative;
}

.testio > a {
		color: #FFFFFF;
		font-family: open sans,sans-serif;
		font-weight: bold;
		-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease-out;
}
.testio > a:hover {
	color: #34495E;
}

.flexslider-manual-controls li a { opacity:0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }
.flexslider-manual-controls li a:hover { opacity:1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.flexslider-manual-controls li a.nexti { position:absolute; right:0; top:240px;}
.flexslider-manual-controls li a.previ { position:absolute;left:0; top:240px;}
.testi-container { position:relative; }
.flexslider-manual-controls > li {
		overflow: hidden;
}




/*SUBSCRIBE*/

.subscribe {
		display: block;
		float: right;
		margin-top: 30px;
		position: relative;
}


.subscribe .control-group .flat {
		height: 30px;
		padding: 6px 30px;
		text-indent: 0;
}
.descSubscribe i {
		color: #16A085;
		font-size: 200px;
		opacity: 0.4;
		position: absolute;
		top: -8%;
		transform: rotate(-15deg);
		z-index: 0;
}

.descSubscribe > p {
		position: relative;
		z-index: 0;
}
.descSubscribe > h5 {
		display: block;
		font-family: bebasneue;
		font-size: 26px;
		font-weight: 500;
		position: relative;
		z-index: 99;
}




/*LIST ARROW*/
ul.list-plus,ul.list-arrow3{
		margin: 15px auto;

}
ul.list-plus > li {
		background: url("../img/list_icons/i_plus_grey.png") no-repeat scroll 0 2px transparent;
		padding-left:20px;
		overflow:hidden;
		line-height: 1.6;
}
ul.list-arrow3 > li {
		background: url("../img/list_icons/i_arrow_3_grey.png") no-repeat scroll 0 2px transparent;
		padding-left:20px;
		overflow:hidden;
		line-height: 1.6;
}



/* ================================================================
												Twitter List
================================================================== */
	.tweet_list {
			list-style: none inside none;
			margin: 0;
			padding: 0;
	}

	span.tweet_time {
			color: #FFFFFF;
			display: block;
			margin: 25px auto 15px;
			font-size: 14px;
	}
	span.tweet_time a{
		color: #FFFFFF !important;
		font-family: open sans;

	}
	span.tweet_time a:hover{
		color:#2c3e50;
	}
	.tweet_join {
			color: #FFFFFF;
			font-family: open sans;
			font-size: 20px;
			font-weight: bold;
	}

	span.tweet_text {
		margin-top:15px;
		font-size: 20px;
		font-family:Open Sans;
		color:#ffffff;
		line-height: 30px;
	}
	span.tweet_text a{
			color:#eee;
			font-weight: bold;
	}
	span.tweet_text a:hover{
			text-decoration: underline;
			color: #999;
	}
	.awesome32 {
			font-size: 32px;
			color:#ffffff;
	}
	/*Twitter*/
	.twiterfont {
			color: #FFFFFF;
			font-size: 45px;
	}




/*ACCORDION*/
.accordion {
	margin-bottom: 20px;
	margin-top: 30px;
}
.accordion-group {
	margin-bottom: 5px !important;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.accordion-heading {
	border-bottom: 0;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}
.accordion-toggle {
	cursor: pointer;
}
.accordion-teamDesc {
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
	background: #ecf0f1;
}
.accordion {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 20px;
}
.accordion-inner{
	background: #FFFFFF
}
.accordion-group {
	margin-bottom: 1px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.accordion-heading {
	border-bottom: 0;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 12px 44px 12px 20px;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	line-height: 18px;
	background: #34495e;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.accordion-heading .accordion-toggle:before {
	display: block;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	content: "\f067";
	color: #fff;
	width: 26px;
	padding: 11px 0 0 14px;
	border-left: 1px solid #fff;
	border-left: 1px solid rgba(255,255,255,0.2);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.accordion-heading .accordion-toggle:hover {
	background: #2c3e50;
	color: #1ABC9C
}
.accordion-heading .accordion-toggle.active {
	background: #2c3e50;
	color: #1ABC9C
}
.accordion-heading .accordion-toggle.active:before {
	content: "\f068";
}
.accordion-heading .accordion-toggle.active i {
	top: -11px;
	border-left: 1px solid #313439;
}
.accordion-heading .accordion-toggle.active i:before {
	content: "\f00d";
}
.accordion-teamDesc {
	padding: 18px 0px 18px 20px;
	border-top: 0px solid #e5e5e5;
}



/*Title*/
.tile {
	background-color: #fff;
	background: transparent;
	position: relative;
	text-align: center;
	padding: 10px 10px 30px;
}
/*.tile.tile-hot:before {
	background: url(../images/tile/ribbon.png) 0 0 no-repeat;
	background-size: 82px 82px;
	content: '';
	height: 82px;
	position: absolute;
	right: -4px;
	top: -4px;
	width: 82px;
}*/
.tile p {
	font-size: 14px;
	margin: 15px auto;
}
.tile-image {
	/*height: 120px;*/
	margin: auto 0 20px;
	vertical-align: bottom;
}
.tile-image.big-illustration {
	height: 111px;
	margin-top: 20px;
	width: 112px;
}
.tile-title {
	font-size: 20px;
	margin: 0;
}


/*Margin*/
.mrg-30{
	margin: 30px auto
}
.mrg-60{
	margin: 60px auto
}

/*Divider*/
.divider{
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 30px auto 60px;
	text-align: center;
}
.divider .icon {
		color: #1abc9c;
}

.divLine { margin:15px 0 0; display:block; height:1px; width:45%; float:left; background:#bdc3c7;  opacity:0.5;}

.divImg {
		float: left;
		font-size: 24px;
		width: 10%;
}



/*COLOR Background*/
.grey{
	background: #ecf0f1;
}
.default{
	background: #1abc9c;
}




/*About*/
.about{
		display: block;
		padding: 60px 0;
		position: relative;
}

.titleHead {
		display: block;
		position: relative;
		text-align: center;
}
.titleHead > h3 {
		font-family: open sans;
		font-size: 45px;
		font-weight: 900;
		letter-spacing: -1px;
		line-height: 1.8;
		text-transform: capitalize;
}
.titleHead > p {
		color: #95A5A6;
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 30px;
}


/*______________________________________________________________*/

/*                  FLEX SLIDER CSS                             */
/*______________________________________________________________*/

.flex-container {
		margin-bottom: 30px;
}
.flex-direction-nav li a.flex-next,
.flex-direction-nav li a.flex-prev {-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out; width:35px;height:35px;text-indent:-9999px;display:block;position:absolute;top:45%; }
.flex-direction-nav li .flex-next  {background:#34495E url("../img/next.png") 14px -19px no-repeat;-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;}
.flex-direction-nav li .flex-prev  { background:#34495E url("../img/prev.png") 10px -19px no-repeat;-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;}
.flex-direction-nav li .flex-next:hover  {background:#34495E url("../img/next.png") 14px 10px no-repeat;}
.flex-direction-nav li .flex-prev:hover  { background:#34495E url("../img/prev.png") 10px 10px no-repeat;}

/*.flex-direction-nav{display: none;}*/

.flex-direction-nav li .flex-next{right:-40px;display: block;}
.flex-direction-nav li .flex-prev{left:-40px;display: block;}
.flexslider:hover .flex-direction-nav li .flex-next{right:0px;}
.flexslider:hover .flex-direction-nav li .flex-prev{left:0px;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {width: auto;position: absolute;text-align:center;display:block;z-index:250;right:o;bottom:0;left: 0;margin: 0 auto;right: 0;}
.flex-control-nav li {margin: 0px 0 0 5px; display: inline-block; zoom: 1; *display: inline;text-indent:-9999px;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;width: 30px; height: 8px;display: block; background:#FFF;cursor:pointer; text-indent: -999em;}


.flex-caption {zoom: 1;width:auto;height:auto;position:absolute;left:30%;top:40%;z-index:111;padding:10px 20px;}
.flex-caption h3{color:#FFF;text-transform:capitalize;display:inline-block;margin-bottom:0;font-weight: 600;font-size: 14px;}


.flex-container.with-margin{
		margin-bottom: 20px;
		float: left;
		width: 100%;
}

.flex-control-nav li a.flex-active, .flex-caption, .flex-control-nav li a:hover {
		background: none repeat scroll 0 0 #34495E;
}





.titleContent {
		border-bottom: 1px solid #bdc3c7;
		display: block;
		margin-bottom: 10px;
		position: relative;
}
	.titleContent h6 {
			border-bottom: 1px solid #ECF0F1;
			margin-bottom: 11px;
	}
	.titleContent h6 span {
			border-bottom: 3px solid #1abc9c;
			padding: 10px 0;
	}



/* ==================================================================
	Progress Bar
================================================================== */
.progress {
		background: none repeat scroll 0 0 #F1F1F1;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		box-shadow: none;
		height: 36px;
		margin-bottom: 15px;
}
	.progress .bar {
		background: #1abc9c !important;
		line-height: 30px;
		text-align: left;
		font-weight: bold;
		text-indent: 15px;
		text-transform:uppercase;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		text-shadow: none;
				-webkit-transition: width 1s ease;
				-moz-transition: width 1s ease;
				-o-transition: width 1s ease;
				transition: width 1s ease;
	}

	.progress:hover .bar {
		-webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease;
		background: #2c3e50 !important;
		color:#fff;
		cursor: pointer;

	}

.progress-skill-bar {
	margin-bottom: 20px;
	margin-left:0;
	margin-top: 15px;
}
.progress-skill-bar li{
		overflow: hidden;
}
.progress-skill-bar .lable {
		background: #2c3e50;
		float: left;
		color: #1abc9c;
		font-size: 12px;
		font-weight: bold;
		border-right: 1px #FFFFFF solid;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 8px;
}

.progress-success .bar,
.progress .bar-success {
	filter: none;
	background: #15b994; }




.services{
		display: block;
		padding: 60px 0;
		position: relative;
}


.servContent {
		margin-bottom: 20px;
}
.servContent .ico{width:55px;text-align:center;float:left;margin-top:5px;}

.servContent:hover .ico{background:#fff;color:#1abc9c;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.servContent:hover{cursor:pointer;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.servContent:hover h4{color:#1abc9c;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.servDetil{margin-left:80px}

.servDetil h4 {
		font-family: open sans;
		font-size: 18px;
		font-weight: 600;
		margin: 0 0 10px;
		text-transform: uppercase;
}
.servDetil p{line-height:20px;font-size: 13px;}




/* ================================================================
						Our Team
================================================================== */
.team,.portfolio, .blog, .contact{
		padding: 60px 0;
		position: relative;
}
	.aboutPage{ background:#f2f2f2; }
	.profile {}
	.profPeople{border-bottom:1px solid transparent;z-index:99;position:relative;}
	.profPeople:hover{-webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease; }
	.myTeam .photoTeam{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0);}
	.myTeam .photoTeam .overlay,.myTeam .photoTeam .socialTeam{left:0;top:0;width:100%;height:100%;position:absolute;z-index:2}
	.myTeam .photoTeam .overlay{
		/* IE10 Consumer Preview */
		background-image: -ms-radial-gradient(center center, circle farthest-corner, rgba(85,85,85,.3) 0%, rgba(81,81,81,.1) 50%, rgba(0,0,0,.5) 100%);
		/* Mozilla Firefox */
		background-image: -moz-radial-gradient(center center, circle farthest-corner, rgba(85,85,85,.3) 0%, rgba(81,81,81,.1) 50%, rgba(0,0,0,.5) 100%);
		/* Opera */
		background-image: -o-radial-gradient(center center, circle farthest-corner, rgba(85,85,85,.3) 0%, rgba(81,81,81,.1) 50%, rgba(0,0,0,.5) 100%);
		/* Webkit (Safari/Chrome 10) */
		background-image: -webkit-gradient(radial, center center, 0, center bottom, 477, color-stop(0, rgba(85,85,85,.3)), color-stop(0.5, rgba(81,81,81,.1)), color-stop(1, rgba(0,0,0,.5)));
		/* Webkit (Chrome 11+) */
		background-image: -webkit-radial-gradient(center center, circle farthest-corner, rgba(85,85,85,.3) 0%, rgba(81,81,81,.1) 50%, rgba(0,0,0,.5) 100%);
		/* W3C Markup, IE10 Release Preview */
		background-image: radial-gradient(circle farthest-corner at center center, rgba(85,85,85,.3) 0%, rgba(81,81,81,.3) 50%, rgba(0,0,0,.5) 100%);
		-webkit-transition:opacity 600ms ease-in-out;-moz-transition:opacity 600ms ease-in-out;transition:opacity 600ms ease-in-out
	}

	.myTeam .photoTeam .socialTeam{
		text-align:center;
		margin-top:100%;
		-webkit-transition:400ms ease-in-out;
		-webkit-transition-property:opacity,top;
		-moz-transition:400ms ease-in-out;
		-moz-transition-property:opacity,top;
		transition:400ms ease-in-out;
		transition-property:opacity,top
	}
	.myTeam .photoTeam .socialTeam,.myTeam .photoTeam:hover .overlay{opacity:0;}
	.myTeam .photoTeam:hover .socialTeam{top:-50%;opacity:1;}
	.myTeam .photoTeam .socialTeam ul{text-align:center;background-color:rgba(26, 188, 156,.8);}
	.myTeam .photoTeam .socialTeam ul,.myTeam .photoTeam .socialTeam ul li{margin:0;padding:0;list-style:none;display:inline-block;}
	.myTeam .photoTeam .socialTeam ul li{display:inline-block;*zoom:1;*display:inline-block}
	.myTeam .photoTeam .socialTeam ul li a{color:#fff;display:block;width:40px;height:40px;text-align:center;-webkit-transition:color .1s ease-in-out;-moz-transition:color .1s ease-in-out;transition:color .1s ease-in-out;line-height:50px;font-size: 18px}
	.myTeam .photoTeam .socialTeam ul li a:hover{color:#333;}
	.myTeam .photoTeam .socialTeam ul li a [class*="zocial-"]{width:40px;height:40px;line-height:40px}
	.myTeam .photoTeam img{min-width:100%;vertical-align:top}
	.myTeam .photoTeam:hover img{-webkit-filter:none;-moz-filter:none}
	.myTeam .info{padding:15px 0;text-align:center;border-bottom:2px solid transparent;line-height:1.6;background:#fff;}
	.mask-loaded .myTeam .span4:nth-child(2n) .info,.mask-loaded .myTeam .span4:nth-child(2n) .info{-webkit-mask-position:center top}
	.mask-loaded .myTeam .span4:nth-child(3n) .info,.mask-loaded .myTeam .span4:nth-child(3n) .info{-webkit-mask-position:right bottom}
	.myTeam .info .name,.myTeam .info .job{display:block}.myTeam .info .name{text-transform:uppercase;font-size:24px;font-family:'BebasNeue',Arial,Helvetica,sans-serif}
	.myTeam .profPeople:hover .info{
		background:#1abc9c;
		color:#fff;
		-webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease;
	}
	.myTeam .profPeople:hover .info .job{
		color: #FFFFFF;
	}
	.info .job {
		color: #95A5A6;
		font-family: Open Sans,sans-serif;
		font-size: 12px;
		font-weight: 500;
}
	.info > p {
		display: block;
		font-size: medium;
		padding: 10px 10px 0;
		text-align: left;
	}




/* ========================================================== */
/*                    Portfolio                         */
/* ========================================================== */

	#portfolio{
		width:100%;
		padding-bottom:120px;
		position:relative;
		z-index:9;
	}

	#filter{
		width:100%;
		padding:15px 0 40px 0;
		margin:0 auto;
		overflow:hidden;
		text-align:center;
		position:relative;
		z-index:10;
	}

	#filter li{
		display: inline-block;
		margin:0 0 10px 0;
	}

	#filter li a{
		color:#333;
		border:1px solid #c1c1c1;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius:0;
		padding:10px 20px;
		font-size:12px;
		line-height: 12px;
		font-family: 'open_sansitalic', Arial, Helvetica, sans-serif;
		transition: all .50s ease-in-out;
		-moz-transition: all .50s ease-in-out;
		-webkit-transition: all .50s ease-in-out;
	}

	#filter li.selected a, #filter li a:hover{
		color:#fff;
		background-color:#1abc9c;
		border:1px solid #1abc9c;
		transition: all .50s ease-in-out;
		-moz-transition: all .50s ease-in-out;
		-webkit-transition: all .50s ease-in-out;
	}

	#list{
		margin-bottom:30px;
	}

	.portfolio_list{
		position:relative;
		padding: 0;
	}

	.list_item{
		margin-bottom:2%;
		overflow: hidden
	}

	.portfolio_details{
		display:block;
		clear:both;
		background-color:#ecf0f1;
		border-bottom:1px solid #e5e5e5;
		padding: 10px 5px;
		text-align:center;
	}

	.list_item:hover .portfolio_details{
		background-color:#1abc9c;
		transition: background-color .25s ease-in-out;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
	}

	.portfolio_details h2{
		font-size:12px;
		line-height:14px;
		text-transform:uppercase;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		color:#111!important;
		margin:0;
	}

	.list_item:hover .portfolio_details h2{
		color:#fff!important;
		transition: color .25s ease-in-out;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
	}

	.portfolio_details span{
		font-size:14px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		color:#333;
	}

	.list_item:hover .portfolio_details span{
		color:#eee;
		transition: color .25s ease-in-out;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
	}

	.view {
		width:100%;
		padding:0;
		border:none;
		 float: left;
		 overflow: hidden;
		 position: relative;
		 text-align: center;
		 cursor: default;
	}

	.view .mask,.view .content {

		 position: absolute;
		 overflow: hidden;
		 top: 0;
		 left: 0;
	}

	.view img {
		 display: block;
		 position: relative;
	}

	.view span.zoom {
			cursor: pointer;
			display: block;
			font-size: 50px;
			height: 100%;
			line-height: 4.5;
			position: absolute;
			text-align: center;
			width: 100%;
	}

	.view-first img {
		 -webkit-transition: all 0.2s linear;
		 -moz-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
		 -ms-transition: all 0.2s linear;
		 transition: all 0.2s linear;
	}

	.view-first .mask {
		 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		 filter: alpha(opacity=0);
		 opacity: 0;
		 background-color: rgba(0,0,0, 0.7);
		 -webkit-transition: all 0.4s ease-in-out;
		 -moz-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
		 -ms-transition: all 0.4s ease-in-out;
		 transition: all 0.4s ease-in-out;
		 height:100%;
		 width:100%;
	}

	.list_item:hover .view-first img {
		 -webkit-transform: scale(1.1,1.1);
		 -moz-transform: scale(1.1,1.1);
		 -o-transform: scale(1.1,1.1);
		 -ms-transform: scale(1.1,1.1);
		 transform: scale(1.1,1.1);
	}

	.list_item:hover .view-first .mask {
		 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		 filter: alpha(opacity=100);
		 opacity: 1;
	}

	.list_item:hover .view-first a.zoom {
		 -webkit-transition-delay: 0.2s;
		 -moz-transition-delay: 0.2s;
		 -o-transition-delay: 0.2s;
		 -ms-transition-delay: 0.2s;
		 transition-delay: 0.2s;
	}
	#easing {
		top:10%;
		width:50%;
		z-index:101;
	}







/* ==================================================
	 Blog
================================================== */

	.list_carousel {
		width: 100%;
		height:auto;
	}

	.list_carousel ul {
		margin: 0;
		padding: 0;
		height:100%;
		list-style: none;
		display: block;

	}

	.list_carousel ul li {
		background-color: #fff;
		width: 300px;
		height: 490px;
		padding: 0;
		margin: 20px 10px;
		display: inline-block;
		float: left;
		position: relative;
		z-index: 9;
	}

	.list_carousel ul li:hover {
				-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.list_carousel ul li h5 {
		text-transform: capitalize;
		color: #34495e;
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
		-webkit-transition: all 0.3s ease 0s;
			 -moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			 -o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				text-decoration:none;
	}
	.list_carousel ul li h5:hover{
		color: #1abc9c;
		text-decoration:none;
	}
	.blogContent a:hover {
		text-decoration:none;
	}
	.newsDetil span i {
		color: #7F8C8D;
		line-height: 18px;
	}

	.news_content h2 {
		border-bottom: 1px solid #CFCFCF;
		font-family: bebasneue;
		font-size: 30px;
		font-weight: 600;
		line-height: 1.8;
		margin-bottom: 15px;
	}

	.newsDetil {
		margin: 10px auto 15px;
		font-family:Open Sans, Times, serif;
		color:#a1a1a1;
	}
	.newsDetil > span {
			margin-right: 15px;
			color: #ecf0f1;
	}

	.newsDetil span a {
			color: #7F8C8D;
			font-size: 13px;
			font-weight: 100;
						 -webkit-transition: all 0.3s ease 0s;
			 -moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			 -o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
	}
	.newsDetil span a:hover {
		color: #1abc9c;

	}


	.list_carousel.responsive {
		width: auto;
		margin-left: 0;
	}
	/*.blogs Pagination */

	#news-navigation {
		width:100%;
		margin:0 auto 30px;
	}
	.blogContent > p {
		line-height: 1.8;
	}
	#news-navigation > ul{
		position: relative;
		left: 46%;
	}



	/* ==================================================
		 Post Share Article
	================================================== */
	.shares { background: #f7f7f7; list-style: none; overflow: hidden; margin: 0;}
	.shares li { float: left; display: inline-block; border-right: 1px solid #fff; }
	.shares li.shareslabel h3 {
		padding: 12px 20px; font-weight: 600; text-transform: uppercase; background: #eee;font-size: 18px;margin: 0;font-family: open sans;
	}
	.shares li a { display: block; width: 45px; height: 46px; background-repeat: no-repeat; background-position: 7px 5px; }
	.shares li a:hover { background-position: 7px -60px; background-color: #1abc9c; }
	.shares li a:active { background-color: #999; }
	.shares li a.twitter { background-image: url(../images/icons/social/twitter.png); }
	.shares li a.facebook { background-image: url(../images/icons/social/facebook.png); }
	.shares li a.gplus { background-image: url(../images/icons/social/gplus.png); }
	.shares li a.pinterest { background-image: url(../images/icons/social/pinterest.png); }
	.shares li a.yahoo { background-image: url(../images/icons/social/yahoo.png); }
	.shares li a.linkedin { background-image: url(../images/icons/social/linkedin.png); }

	/* ==================================================
		 Post Author
	================================================== */
	.post-author {
		margin-left:94px;
		position:relative;
		margin-top:15px;
	}
	.post-author .avatar {
		left:-47px;
		position:absolute;
	}
	.post-author h6 {
		font-family: lato;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.6;
		margin-bottom: auto;
	}




/* ==================================================
	.blogsSection Mask Hover
================================================== */
	.blogs img {
		 display: block;
		 width: 100%;
		 height:auto;
	}

	.blogs .mask {
		opacity: 0;
		-webkit-transition: all 0.3s ease 0s;
					 -moz-transition: all 0.3s ease 0s;
						-ms-transition: all 0.3s ease 0s;
						 -o-transition: all 0.3s ease 0s;
								transition: all 0.3s ease 0s;
	}

	.blogs:hover .mask {
		 opacity:1;
	}
	.blogs {
		width:100%;
			height: auto;
			float: left;
			overflow: hidden;
			position: relative;
			text-align: left;
	}
	.blogs .mask {
		 width: 100%;
		 height:100%;
		 position: absolute;
		 overflow: hidden;
		 top: 0;
		 left: 0;
		 background: rgba(0, 0, 0, 0.5);
	}

	.blogs a.icon {
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius:50px;
		height: 30px;
		left: 50%;
		margin-left: -45px;
		margin-top: -45px;
		padding: 30px;
		position: absolute;
		top: 50%;
		width: 30px;
	}

	.blogs  a.icon.zoom {
		background:url(../images/link_blog.png) no-repeat scroll 22px 22px #1ABC9C;
		-webkit-transition: all 0.3s ease 0s;
					 -moz-transition: all 0.3s ease 0s;
						-ms-transition: all 0.3s ease 0s;
						 -o-transition: all 0.3s ease 0s;
								transition: all 0.3s ease 0s;
	}

	.blogs a.icon.zoom:hover {
		background:url(../images/link_blog.png) 22px 22px no-repeat #FFF;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
					 -moz-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						 -o-transform: rotate(-90deg);
	}
	.blogContent {
		background:#fff;
		float:left;
		padding:20px;
		height:170px;
	}


/* ==================================================
	.blogs / Blog Post page
================================================== */
	.news_page {
		background-color:#fff;
		width:850px;
		height:100%;
		overflow:hidden;
	}

	.news_content{
		padding:30px;
	}

	.news_content p{
		line-height:1.8;
	}
	.news_content h4 {
		font-family: Open Sans;
		font-size: 30px;
		line-height: 1;
		margin: 15px auto;
		padding-bottom: 15px;
	}
	.news-details {
		width:100%;
		height:auto;
		margin-bottom:15px;
	}

	p.post-admin {
		background: url("../images/post-admin.png") no-repeat scroll left center transparent;
		font-size: 12px;
		margin-bottom: 15px;
		color:#ABABAB;
		padding-left:25px;
		float:left;
		font-family:open sans, sans-serif;
	}
	.black.mt.mb, .black.mb {
		font-family: 'Open Sans';
		font-size: 26px;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	p.post-calendar {
		background: url("../images/post-calendar.png") no-repeat scroll left center transparent;
		font-size: 12px;
		margin-bottom: 15px;
		color:#ABABAB;
		margin-left: 25px;
		padding-left:25px;
		float:left;
		font-family:open sans, sans-serif;
	}
	p.post-tagss {
		background: url("../images/post-tag.png") no-repeat scroll left center transparent;
		font-size: 12px;
		margin-bottom: 15px;
		color:#ABABAB;
		margin-left: 25px;
		padding-left:25px;
		float:left;
		font-family:open sans, sans-serif;
	}

	p.post-commentss {
		background: url("../images/post-comment.png") no-repeat scroll left center transparent;
		font-size: 12px;
		margin-bottom: 15px;
		color:#ABABAB;
		margin-left: 25px;
		padding-left:25px;
		float:left;
		font-family:open sans, sans-serif;
	}
	p.post-admin:hover, p.post-commentss:hover, p.post-tagss:hover, p.post-calendar:hover{
		color:#34495e;
	}

	.news_comments {
		padding:40px;
		background-color:#ECECEC;
		border-top: #dddddd solid 1px;
	}

	.user_comment {
		background: url("../images/user.png") no-repeat;
		padding-left:60px;
		margin-top:40px;
	}

	.user_comment_reply {
		background: url("../images/user.png") no-repeat scroll 0 0 transparent;
		margin-top: 40px;
		padding-left: 60px;
	}

	.comment-date {
		font-style:italic;
		margin-bottom:10px;
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#a1a1a1;
	}
	.comment-meta a:hover{
		color:34495e;
	}

	.comment-text {
		color:#555555;
	}

	a.reply {
		float:right;
		font-weight:bold;
		margin-top:10px;
	}

	a.reply:hover {
		text-decoration:underline;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

/* ================================================================
						Content Common Setting
================================================================== */
	/* comment list */
	#comment-list { margin:0; }
	#comment-list li {
		background:none;
		margin:0;
		padding:0;
		overflow:hidden;
	}
	/* comment depth */
	#comment-list ul.children { margin-left:94px;  }
	.comment-container {
		border:solid 1px #bbb;
		margin-bottom:30px;
		margin-left:94px;
		padding:20px 20px 0;
		position:relative;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.comment-container:hover {
		background:#fff;
		border-color:#1abc9c;
	}
	.comment-body { margin-bottom:20px; }
	/* comment avatar */
	.avatar {
		float:left;
		width:74px;
	}
	.avatar img {
		display:block;
		margin-right:20px;
		position: relative;
		z-index: 0;
		border:2px solid #fff;
		padding:2px;
	}

	/* comment datas (author, meta & date)*/
	h4.comment-author {
		font-size:16px;
		line-height:20px;
		margin:0;

	}
	h4.comment-author a{
		color:#1abc9c
	}
	#comment-list .comment-meta { margin-bottom:10px; }
	#comment-list .comment-date { font-size:12px; }

	/* comment hover effect */
	#comment-list li .comment-container:hover h4 { color:#1abc9c; }

	.comment-reply-link {
		position:absolute;
		right:20px;
		top:20px;
	}
	a.link-style3 {
		color: inherit !important;
		font-size: 12px;
		font-weight: 700;
		text-decoration: none !important;
		text-transform: uppercase;
	}
	.comment-reply-link {
		position: absolute;
		right: 20px;
		top: 20px;
	}

.row-fluid textarea {
		font-size: 14.994px;
		height: auto;
		line-height: 24px;
		padding: 10px 0 !important;
		text-indent: 10px !important;
}










	.dropcap {
		float: left;
		font-size: 58px;
		line-height: 54px;
		margin-top: -2px;
		padding-right: 10px;
		padding-top: 4px;
	}
.colDefault {
		color: #1ABC9C;
}
.highlight{
	padding: 2px 6px;
}
.highlight.black {
		background: none repeat scroll 0 0 #2c3e50;
		color: #FFFFFF;
}
















/* ==================================================
	 Contact Section
================================================== */
	.contact .contact-form form textarea {
		-moz-box-sizing: border-box;
		max-width: 100%;
		width: 100%;
	}

	.contact_info.span6 > h6 {
			border-bottom: 1px solid #ECF0F1;
			line-height: 2.2;
			margin-bottom: 23px;
	}
	.contact_info.span6 h6 span {
			border-bottom: 3px solid #1abc9c;
			padding: 10px 0;
	}
	.contact .info address [class*="icon"] {
		left: 5px;
		position: absolute;
		top: 1px;
	}
	.contact .info .adr, .contact .info .phone, .contact .info .mail {
		padding-left: 30px;
		position: relative;
	}

	.contact-details h3 {
		color: #FFFFFF;
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
		line-height: 1em;
		text-transform: uppercase;
	}

	.contact-details ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.contact-details ul li {
		margin: 0 0 20px;
		line-height: 28px;
		padding: 0;
	}
	label {
		color: red;
		font-size: 12px;
		font-weight: 100;
		margin: 0 auto;
		padding: 2px 0 7px;
	}

	#contact-form, .contact_info {
		margin-bottom: 0;
		margin-top:30px;
	}

	#contact-form p {
		margin-bottom: 1px;
	}

	#contact-form input,
	#contact-form textarea {
		color: #5f5f5f;
		font-size: 14px;
		height: auto;
		padding: 15px;
		resize: none;
	}

	#contact-form input {
		font-family:Open Sans;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#contact-form textarea {
		width: 100%;
		resize: vertical;
		font-family:Open Sans;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#contact-submit {
		margin: 0;
	}

	#response {
		margin-top: 20px;
		color: #FFFFFF;
	}
	.adr{
		line-height: 1.8
	}
	.adr span {
		display: inline-block;
		margin-bottom: 5px;
		position: relative;
}
address{
	margin-top: 10px;
}

	.contact_info > p, .adr{
		color: #555;
		font-family:Open Sans;
		font-size:14px;
		text-align:justify;
		line-height: 1.5;
	}
	.adr em{
		color:#2c3e50;
		padding-right:10px;
		line-height:1.5;
	}
	.mail > a, .web > a, .follow > a{
		color:#1abc9c;
		font-family:Open Sans;
		text-decoration:none;
	}
	.mail > a:hover, .web > a:hover, .follow > a:hover{
		color:#34495e;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		text-decoration:none;
	}

	#map{
		display: none;
		height: 350px;
		margin-bottom:15px;
				-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
.footer {
	display: block;
	padding: 10px 0;
	position: relative;

}

.bottom-icons{
	float: right;
	margin-top: 5px;
}
.bottom-icons > li {
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
		margin-right: 5px !important ;
}
.bottom-icons li a {
		color: #bdc3c7;
		margin-top: 5px;
}
.bottom-icons li a:hover {
	color: #1abc9c;
}

.copyright {
		/*float: left;*/
		position: relative;
		text-align: left;
}
.copyright > p {
		margin: 0;
}












/* ==================================================
	 Mobile / Responsive
================================================== */
@media (max-width: 980px) {
	.navMenu > li > a{
		padding: 27px 10px;
	}
	.isotope ul{
		margin: 0 !important;
	}


}


	@media (max-width: 960px) {
	nav ul     { display: none; }
	nav select { display: block; border-radius:0;}
	.is-sticky{display:block;max-width:100%;}
	.menu{display:inline;text-align: center;}

	.sticky-wrapper.is-sticky .upHead {
		min-height: 90px;
		padding-bottom: 0;
		padding-top: 0;
		width: 100%;
	}
	.isotope ul{
		margin: 0 !important;
	}
}
@media screen and (max-width: 830px) {
.isotope ul{
		margin: 0 !important;
	}
}

@media screen and (max-width: 650px) {

.isotope ul{
		margin: 0 !important;
	}
}

@media(min-width: 768px) and (max-width: 979px) {
	.wrapper { width:725px; margin:0 auto; }
	.navi ul li {  width:70px; }
	.flex-caption, .flex-caption2 { width:420px; top:25%;  }
	.flex-caption h3, .flex-caption2 h3 { font-size:18px; }
	.flex-caption p.subtitle, .flex-caption2 p.subtitle { font-size:14px; }
	.slide-form input.email { width:320px; }
	.title h3 { font-size:22px; }
	.about-txt-div { width:45%; }
	.about-txt-wrap { padding: 25px 30px; }
	.about-txt { height:278px; }
	.about-txt p.about-subtitle { display:none; }
	#overlay_form iframe { width:600px; height:350px; }
	#overlay_form  { width:600px; }
	.icon3 { height:168px; }
	.testi p { font-size:22px; padding:0 100px;  }
	.form-contact input { width:42%; padding:5px 23px; }
	.data-txt { font-size:13px; }
	.isotope ul{
		margin: 0 !important;
	}
}

@media(min-width: 480px) and (max-width: 767px) {
	.wrapper { width:460px; margin:0 auto; }
	.navi { display:none; }
	.navi2 { display:block; }
	.flex-next , .flex-prev { top:40%; }
	.flex-caption, .flex-caption2 { width:320px; top:10%;  }
	.flex-caption h3, .flex-caption2 h3 { font-size:16px; }
	.flex-caption p.subtitle, .flex-caption2 p.subtitle { font-size:11px; }
	.flex-caption a  { width:80px; height:30px; padding: 8px 50px 10px 15px; font-size:16px; }
	.flex-caption a.fc1  { width:80px; height:30px; padding: 8px 50px 10px 15px; font-size:16px; }
	.flex-caption2 a.fc1  { width:80px; height:30px; padding: 8px 50px 10px 15px; font-size:16px; }
	.flex-caption a.fc2  { width:80px; height:30px; padding: 8px 50px 10px 15px; font-size:16px; }
	.slide-form input.email { height:30px; width:240px; }
	.slide-form input.button { width:40px; height:40px; background-position:50% 1px;}
	.flex-prev, .flex-next { background-size:60px; width:60px; height:60px; }
	p.title-spc { font-size:14px; margin:5px 0 0;  }
	.title h3 { font-size:26px; line-height:2; }
	.about-img { clear:both; width:100%; }
	.about-img img {  width:100%; }
	.about-txt {  clear:both; width:100%; margin:0 ; height:360px; }
	.featu { width:100%; margin:0px 0 40px; }
	.featu-div { display:none; }
	.services .title { padding:0 0 60px; }
	#overlay_form iframe { width:420px; height:250px; }
	#overlay_form  { width:420px; }
	.portfolio li { min-height:100px; }
	li.team-s { width:290px!important; margin:0 auto 60px!important; }
	.form-contact input { padding: 5px 20px;  width: 38%; }
	.form-contact textarea {  max-width: 91%;  min-width: 91%;   width: 91%; }

	.data { height:460px; }
	.data .span4 { height:180px; }
	.isotope ul{
		margin: 0 !important;
	}
 }


@media(max-width:480px) {
	.wrapper { width:300px; margin:0 auto; }
	.flex-caption, .flex-caption2 {  width:250px; top:20%; left:12%; right:12%;  }
	.navi { display:none; }
	.navi2 { display:block; }
	.portfolio li { min-height:80px; }

	.flex-caption p.subtitle, .flex-caption2 p.subtitle { display:none; }
	.flex-caption h3, .flex-caption2 h3 { background-color:#383E44; font-size:12px; }
	.flex-prev, .flex-next { background-size:30px; width:30px; height:30px; }
	.flex-caption a  { width:70px; height:20px; padding: 8px 50px 15px 15px; font-size:14px; }
	.flex-caption a.fc1  { width:70px; height:20px; padding: 8px 50px 15px 15px; font-size:14px; }
	.flex-caption2 a.fc1  { width:70px; height:20px; padding: 8px 50px 15px 15px; font-size:14px; }
	.flex-caption a.fc2  {  display:none; }
	.slide-form input.email { height:30px; width:120px; }
	.slide-form input.button { width:40px; height:40px; background-position:50% 1px;}
	p.title-spc { font-size:14px; margin:5px 0 0;  }
	.title h3 { font-size:22px; line-height:2; }
	.about-img { clear:both; width:100%; }
	.about-img img {  width:100%; }
	.about-txt {  clear:both; width:100%; margin:0 ; height:500px; }
	.about-txt-div2 { width:45%; }
	.about-txt-div { width:35%; }
	.featu { width:100%; margin:0px 0 40px; }
	.featu-div { display:none; }
	.services {  height:900px; }
	.services .title { padding:0 0 60px; }

	li.team-s { width:290px!important; margin:0 auto 60px!important; }
	#overlay_form iframe { width:280px; height:250px; }
	#overlay_form  { width:280px; }
	.testi p { font-size:17px; padding: 0 60px; }
	.form-contact input { padding: 5px 20px;  width: 32%; }
	.form-contact textarea {  max-width: 86%;  min-width: 86%;   width: 86%; }
	.form-contact input.input-submit { width:160px; }
	.data { height:460px; }
	.data .span4 { height:180px; }
}

@media screen and (max-width: 750px) {
	.profPeople{
		margin:0 auto 30px;
	}
	#contact, #service, #about, #team,##portfolio,.separator, #blog, #pricing{
		padding-left:20px;
		padding-right:20px;
	}
}

@media screen and (max-width: 500px) {
	.sticky-wrapper{
		height:auto !important;
	}
	.logo_top {
		display: inline-block;
		margin-top: 14px;
		text-align: center;
		margin-left:0;
		float:none;
	}
	.logos {
		display: inline-block;
		margin-top: 14px;
		text-align: center;
		margin-left:0;
		float:none;
	}
	.menu{
		margin-right:0;
	}
	.upHead{
		padding:10px 45px;
	}
	.slides h1 {
		font-size: 40px;
	}
	.slides h2 {
		font-size: 30px;
	}
	.title h1{
		font-size:50px;
	}
	.separatorTitle h5, .separatorTitle h6{
		font-size: 20px;
		line-height: 2em;
	}
	.separatorTitle h1, .separatorTitle h2, .separatorTitle h3, .separatorTitle h4{
		font-size: 30px;
		line-height: 1.8em
	}
	.profPeople{
		margin:0 auto 30px;
	}

	.experience h3,.skill h3{
		margin-top: 30px;
	}
	#toggle-view h3{
		margin-top:0;
	}
	.main-slide > img{
		height:60px;
		width:260px;
	}

}



/* ---------------------------------------------------------------------- */
/*  1920 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width:  1920px){
	.isotope ul{
		margin: 0;
	}
}

/* ---------------------------------------------------------------------- */
/*  1680 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1680px) {
	#datalog .comments{
		padding:83px 60px 82px 60px;
	}
	#datalog .comments.face{
		padding: 45px 30px;
	}
	.blog iframe{
		height: 290px;
	}
}
/* ---------------------------------------------------------------------- */
/*  1600px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1600px) {
	#datalog .comments{
		padding:75px 40px;
	}
	.blog iframe{
		height: 265px;
	}
}
/* ---------------------------------------------------------------------- */
/*  1366 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1366px) {
	#datalog .comments{
		padding:47px 45px 55px 45px;
	}
	#datalog .comments.face{
		padding: 35px 30px;
	}
	.blog iframe{
		height: 211px;
	}
}
/* ---------------------------------------------------------------------- */
/*  10280 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1280px) {
	.blog iframe{
		width: 100%;
		height: 196px;
	}
	#datalog .comments{
		padding: 42px 25px;
	}
	#datalog .comments.face{
		padding: 29px 20px;
	}
	.isotope ul{
		margin: 0;
	}
}
/* ---------------------------------------------------------------------- */
/*  1024 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1024px) {
	.isotope ul{
		margin: 0 10px;
	}


}



/* ---------------------------------------------------------------------- */
/*  Mobile Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 800px){
	.brand img{
		margin: 20px auto;
	}
	.menu {
		display: inline-block;
		margin-top: 20px;
		position: relative;
	}
	 li.backLava,li.backLava:before{
		display: none;
	}
	.isotope ul{
		margin: 0;
	}
	.fullwidthbanner-container{
		height: 400px;
	}
	.news_page {
		max-width:768px;
	}
	.view span.zoom {
			line-height: 3.5;
	}
}
/*@media handheld, only screen and (max-width: 769px){
.brand img {
		height: 50px;
		margin: 18px auto;
		width: 80%;
}*/
@media handheld, only screen and (max-width: 768px){
.brand img {
		height: 50px;
		margin: 18px auto;
		/*width: 40%;*/
}
/*nav select{
	margin-top: 0px;
}*/
	.menu {
		display: inline-block;
		margin-top: 15px;
		position: relative;
	}
	 li.backLava,li.backLava:before{
		display: none;
	}
	.isotope ul{
		margin: 0;
	}
	.fullwidthbanner-container{
		height: 380px;
	}
	.view span.zoom{
		font-size: 40px;
	}
	.news_page {
		max-width:768px;
	}

}
@media handheld, only screen and (max-width: 640px){

	.brand {
			float: left;
	}
	.news_page {
		max-width:640px;
	}
	li.backLava, li.backLava:before{
		display: none;
	}
	.sticky-wrapper.is-sticky .headContent {
			width: 93.7%;
	}
	.isotope ul{
		margin: 0;
	}
	.fullwidthbanner-container{
		height: 300px;
	}

	.view img {
			display: block;
			position: relative;
			width: 100%;
	}
	.view span.zoom{
		font-size: 55px;
		line-height: 8.5;
	}

}
@media handheld, only screen and (max-width: 767px){
	body{
		padding: 0;
	}
	.mTop{
		height: auto;
	}
	.home_title h1{
		font-size: 70px;
		line-height: 80px;
		padding-top: 120px;
	}
	.home_title p{
		font-size:40px;
		line-height: 50px;
	}
	.services{
		text-align: center;
	}
	.services .icon{
		margin-left: 0;
	}
	.portfolio{
		text-align: center;
	}
	.info_hover{
		left: -1000px;
		width: 52%;
		margin-left: 24%;
		height: 94%;
	}
	.text_hover{
		text-align: left;
		padding: 25% 10% 5% 10%;
	}
	.contact .form_contact{
		width: 60%;
	}
	#datalog .colb,#datalog .col5,#datalog .col1,#datalog .col2,#datalog .col4,#datalog .col3{
	 width: 100%;
	}
	#datalog .story {
		float: none;
	}
	#datalog .comment_tweet .col2.border{
		width: 100%;
	}
	#datalog .responsive.col4 {
	width: 100%;
	}
	.contact .form_contact{
		margin-left: -40px;
		width: 75%;
	}

	/* Blog Posts */
	.blog-posts .blog-post { margin: 0 0 1px 0 !important; }
	.blog-post img { height: 300px; max-width: 2000px; width: auto; min-width: 100%; }
	.blog-post .blog-post-icon { display: none; }
	.blog-post .blog-post-content { margin: 0px; }
	.blog-post .blog-post-content h2 { line-height: 26px; font-size: 22px; }
	.blog-post .blog-post-content p { display: none; }
	.bxslider blockquote{
		padding:0 140px;
		font-size:14px;
	}
	.in_twitter {
		padding: 0 20px;
		margin-bottom:15px;
	}

	.menu {
		display: inline-block;
		padding-top: 15px;
		margin-top: -80px;
		position: relative;
	}
	.news_page {
		max-width: 640px;
	}
}
/* ---------------------------------------------------------------------- */
/*  568px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 568px) {
	nav{
		padding-top: 0;
	}
	.home_title h1{
		font-size: 50px;
		line-height: 60px;
		padding-top: 50px;
	}
	.home_title p{
		font-size:35px;
		line-height: 45px;
	}
	#filter li a {
		margin: 5px auto;
	}
	.info_hover{
		width: 72%;
		margin-left: 14%;
	}
	.social ul li{
		width: 30px;
	}
	.about,.services{
		padding: 50px 0;
	}
	.about .container,.services .container{
		padding: 15px;
	}
	.news_page {
		max-width: 568px;
	}

}

/* ---------------------------------------------------------------------- */
/*  480px Version
/* ---------------------------------------------------------------------- */


@media handheld, only screen and (max-width: 480px) {
	.brand img {
		width: auto;
	}
	.topHead, .tp-leftarrow.default, .tp-rightarrow.default{
	display: none;
	}
	.brand {
		float: left;
		text-align: left;
	}
	.headContent{
		max-height: 150px;
		max-width: 440px;
	}
	.menu{
		margin:27px auto 0;
		padding: 15px 0;
	}
	li.backLava,li.backLava:before {
	display: none;
	}
	.brand.current {
		text-align: center;
	}
	.services{
	height: 100%;
	text-align: left;
	}
	.titleHead > p {
		font-size: 15px;
		padding: 0 10px;
	}
	.titleHead > h3 {
		margin-bottom: 15px;
	}

	.divider {
		margin: 30px auto 40px;
	}
	#cboxTitle{
	width: 280px;
	z-index: 1 !important;
	}
	#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{
	margin-top: 80px;
	}

	#news-navigation > ul{
		left: 0;
	}
	.caption .btn.btn-huge.btn-block.btn-inverse.btn-embossed, .caption .btn.btn-huge.btn-block.btn-primary.btn-embossed,.caption .btn.btn-large.btn-block.btn-primary {
		font-size: 10px;
		padding: 5px 10px;
	}

	.blog h4{
		font-size:35px;
		line-height: 45px;
	}
	.blog .buttom_more{
		margin-left: 30%;
	}
	#scroll-h-1, #scroll-h-2, #scroll-h-3{

		position: relative;
		left: 0 !important;
	}
	#scroll-b-1, #scroll-b-2, #scroll-b-3{

		position: relative;
		right: 0 !important;
	}
	.bxslider blockquote{
		padding:0;
	}
	.bxslider blockquote:after, .bxslider blockquote:before{
		background:none;
	}
	.bx-wrapper .bx-controls-direction a{
		display:none;
	}
	#bx-pager a{
		margin:5px;
	}
	.list_carousel li{
		max-width:280px;
		min-height:600px;
	}
	.next{
		margin-left:40px;
	}
	.news_page {
		max-width: 320px;
	}
	#cboxTitle{
		z-index:9;
	}
	#comment-list .avatar {
		margin-left:10px;
		margin-top:10px;
		width:auto;
		z-index:1;
	}
	#comment-list ul.children, .comment-container { margin-left:0; }
	#filter li{
		min-height: 30px;
	}
	#news-navigation{
		width: 24%;
	}
	.view-first img{
		width: 100%;
	}
	.portfolio_details{
		padding: 20px;
	}

	.copyright {
		float: none;
		padding-left: 10px;
		text-align: center;
	}
	.bottom-icons{
		padding-right: 10px !important;
	}
	.fullwidthbanner-container{
		height: 200px;
	}
	.descSubscribe {
		padding: 0 20px;
	}
	.subscribe {
			float: none;
			padding: 0 20px;
	}
	.subscribe .control-group .flat {
			height: 50px;
			margin-bottom:5px;
	}
	.descSubscribe i {
			color: #16A085;
			font-size: 170px;
			opacity: 0.4;
			position: absolute;
			top: 5%;
				-webkit-transform: rotate(-15deg);
		 -moz-transform: rotate(-15deg);
			-ms-transform: rotate(-15deg);
			 -o-transform: rotate(-15deg);
					transform: rotate(-15deg);
			z-index: 0;
	}

	.view span.zoom{
		font-size: 55px;
		line-height: 5.5;
	}

}

/* ---------------------------------------------------------------------- */
/*  400px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 460px){
	.brand {
		float: none;
		text-align: center;
		margin-bottom: -25px;
	}
	.menu {
			margin: 0 120%;
	}
	.headContent {
			max-height: 150px;
			max-width: 360px;
	}

}


/* ---------------------------------------------------------------------- */
/*  380px Version
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 360px) {
	.brand {
		float: none;
		text-align: center;
	}
	.brand img{
		margin: 10px auto 0;
	}
	.menu {
		margin: 10px 110px 0;
	}
	.headContent {
		max-height: 150px;
		max-width: 320px;
	}
	.fullwidthbanner-container{
			height: 160px;
		}
	.blog h4 {
		padding-top:10px;
	}
	.blog h5 {
		padding-bottom: 10px;
	}
	.blog h4{
		font-size:40px;
		line-height: 50px;
	}
	.bxslider blockquote{
		padding:0;
	}
	.bxslider blockquote:after, .bxslider blockquote:before{
		background:none;
	}
	.bx-wrapper .bx-controls-direction a{
		display:none;
	}
	#bx-pager a{
		margin:5px;
	}
	.list_carousel ul li{
		max-width:300px;
		min-height:600px;
	}
	nav{
		padding-top:0;
		margin-left:0;
		width:
	}
	.news_page {
		max-width: 380px;
	}
	#cboxTitle{
		z-index:9;
	}
	#comment-list .avatar {
		margin-left:10px;
		margin-top:10px;
		width:auto;
		z-index:1;
	}
	#comment-list ul.children, .comment-container { margin-left:0; }
	.view span.zoom{
		font-size: 55px;
		line-height: 4.5;
	}
}

/* ---------------------------------------------------------------------- */
/*  320px Version
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 320px) {

	.brand {
		float: none;
		text-align: center;
	}
	.brand img {
		width: auto;
		margin: 10px auto -10px;
	}
	.topHead, .tp-leftarrow.default, .tp-rightarrow.default{
	display: none;
	}
	.headContent{
	max-height: 130px;
	max-width: 280px;
	}
	.menu{
	margin:10px 30px;
	padding: 10px 0;
	}
	li.backLava,li.backLava:before {
	display: none;
	}
	.brand.current {
		text-align: center;
	}
	.services{
	height: 100%;
	text-align: left;
	}
	.titleHead > p {
		font-size: 15px;
		padding: 0 10px;
	}
	.titleHead > h3 {
		margin-bottom: 15px;
	}

	.divider {
		margin: 30px auto 40px;
	}
	#cboxTitle{
	width: 280px;
	z-index: 1 !important;
	}
	#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{
	margin-top: 80px;
	}

	#news-navigation > ul{
		left: 0;
	}

	.social-icons {
		float: none;
		margin: 5px auto;
		text-align: center;
	}
	.sticky-wrapper.is-sticky .upHead {
		min-height: 60px;
		padding-bottom: 0;
		padding-top: 0;
		width: 100%;
	}
	.sticky-wrapper.is-sticky .upHead .menu {
		display: block;
		float: none;
		margin: 15px auto;
		position: relative;
	}

	.caption.lfb.vivera_text_def.tp-caption.start, .caption.lfb.vivera_text_def.tp-caption.start{
	left: 62.703px;
	top:86.165px;
	}
	.caption .btn.btn-huge.btn-block.btn-inverse.btn-embossed, .caption .btn.btn-huge.btn-block.btn-primary.btn-embossed,.caption .btn.btn-large.btn-block.btn-primary {
		font-size: 10px;
		padding: 5px 10px;
	}

	.blog h4{
		font-size:35px;
		line-height: 45px;
	}
	.blog .buttom_more{
		margin-left: 30%;
	}
	#scroll-h-1, #scroll-h-2, #scroll-h-3{

		position: relative;
		left: 0 !important;
	}
	#scroll-b-1, #scroll-b-2, #scroll-b-3{

		position: relative;
		right: 0 !important;
	}
	.bxslider blockquote{
		padding:0;
	}
	.bxslider blockquote:after, .bxslider blockquote:before{
		background:none;
	}
	.bx-wrapper .bx-controls-direction a{
		display:none;
	}
	#bx-pager a{
		margin:5px;
	}
	.list_carousel li{
		max-width:280px;
		min-height:600px;
	}
	.next{
		margin-left:40px;
	}
	.news_page {
		max-width: 320px;
	}
	#cboxTitle{
		z-index:9;
	}
	#comment-list .avatar {
		margin-left:10px;
		margin-top:10px;
		width:auto;
		z-index:1;
	}
	#comment-list ul.children, .comment-container { margin-left:0; }
	#filter li{
		min-height: 30px;
	}
	#news-navigation{
		width: 39%;
	}
	.fullwidthbanner-container{
		height: 140px;
	}

.view span.zoom{
		font-size: 45px;
	}
}
/* ========================================================== */
/*                    Preloader                       */
/* ========================================================== */
	#preloader {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#fff; /* change if the mask should have another color then white */
		z-index:999999; /* makes sure it stays on top */
	}

	#status {
		width:200px;
		height:200px;
		color:#fff;
		position:absolute;
		left:50%; /* centers the loading animation horizontally one the screen */
		top:50%; /* centers the loading animation vertically one the screen */
		background-image:url(../images/atoms.gif); /* path to your loading animation */
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
	}
	#status p{text-align:center;}

/*.login-container {
	margin-bottom: 0px;
}*/
.login-container .offset7 {
	position: absolute;
	z-index: 999 !important;
	top: 170px;
}
.login-container input {
	width: 345px;
}
.login-container .span5 button {
	/*margin-right: -15px;*/
	width: 360px;
}
.login-container .login-form-div {
	padding: 0 15px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #bbb;
	border-radius: 10px;
	box-shadow: 0px 2px 6px #333;
}
.login-form-div h6 {
	color: #fff;
}
#contact .divider {
	margin-bottom: 0px;
}
.navMenu#nav {
	max-height: 70px;
}
.banner-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	top: 0;
	z-index: 1;
}
.about-feature-box {
		margin-bottom: 50px;
		display: flex;
}
.about-feature-box .feature-text h6 {
		font-size: 16px;
		margin-top: 0px;
		margin-left: 20px;
}
.mrgl-25{
	margin-left: -25px;
}
.mrgl-45{
	margin-left: -45px;
}

.copyright i.icon-facebook{
		background: #5a4f65;
		padding: 5px 10px 5px 10px;
		color: #faf001;
		border-radius: 3px;
		margin-right: 10px;
}
.copyright i.icon-google-plus{
		background: #5a4f65;
		padding: 5px 6px 5px 7px;
		color: #faf001;
		border-radius: 3px;
}
.mrgt-3{
	margin-top: 3px;
}
.headContent{
	   /*background-image: url(../img/nav-pic-2.jpg);*/
	/*background-image: url("../img/bg.img.jpg");*/
}
nav ul.navMenu.inline-list li a{
	color: #000 !important;
	font-weight: 700;
}
.login-modal .modal-content form input{
	width: 98.5%;
	padding: 8px 0px;
}

.modal.login-modal{
	top: 22% !important;
	width: 35%;
	margin-left: 0px;
	left: 32%;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #bbb;
}
.modal.login-modal .modal-header{
	border-bottom: none;
}
.modal.login-modal .modal-header button.close{
	color: red;
	opacity: 1;
}
.modal.login-modal .modal-header h4{
	color: #fff;
	font-weight: 500;
}
.modal.login-modal .modal-header button.close:focus{
	outline: none;
}
.modal.login-modal button.btn-embossed{
	width: 100%;
}
@media(max-width: 767px){
	.modal.login-modal{
		width: 50%;
		left: 25%;
	}
	.login-modal .modal-content form input{
		width: 100%;
	}
	nav select{
	margin-top: 10px !important;
	}
	.footer {
	display: block;
	position: relative;
	margin-left: -20px;
	margin-right: -20px;
	padding: 10px 15px 10px 15px;
	}
	.copyright p{
		text-align: center !important;
	}
	.copyright.text-right{
		text-align: center !important;
		margin-top: 15px;
	}
}
nav select{
	width: 100px;
	margin-top: 20px;
	font-weight: 700;
}

@media(max-width: 960px){
	li.backLava:before{
	display: none;
	}
}
@media(max-width: 640px){
	.menu{
		margin-top: 0px;
	}

}
nav select option{
	font-weight: 700;
	color: #777;
}
ul.navMenu li a.login:focus{
outline: none;
}
