*{
	padding: 0;
	margin:0;
}

	padding-left: 10px !important;
	padding-top: 3px !important;
}
.brand-logo img{
	width: 220px;
}
.carousel{
	height: 600px !important;
}
.carousel .carousel-item img{
	height: 100% !important;
	width: 100% !important;
}
@media only screen and (max-width: 993px){
	.carousel{
	height: 500px !important;
}
.carousel .carousel-item img{
	height: 100% !important;
	width: 100% !important;
}
}
@media only screen and (max-width: 601px){
	.carousel{
	height: 400px !important;
}
.carousel .carousel-item img{
	height: 100% !important;
	width: 100% !important;
}
}
.overlay
{

	position: absolute;
	background-color: rgba(49,54,141,0.4);
	top:0;
	bottom:0;
	height:100%;
	width: 100%;
	text-align: center;

}
#myUl img{width: 300px; height: 230px; }
nav{
	background-color: #034c6e !important;
			/*background: transparent !important;*/
			/*box-shadow: none !important;*/
}
/*.carousel.carousel-slider{
	top: -64px !important;
	z-index: -1;
}*/
.container{
	width: 95% !important;
}
.card-action.charges{
	padding: 10px 15px 30px 15px !important;
}
.program img.height{
	height: 227px;
}
.sec_heding{
	font-weight: 600;
	padding-top: 25px;
}
.sec_des{
	font-size: 20px;
}
.program img{
	border: solid 1px #999;
	cursor: pointer;
}
.page-footer{
	background-color: #3a2e2f !important;
}
.page-footer h5{
	font-size: 18px;
}
.page-footer p,
.page-footer li a{
	font-size: 14px;
	text-align: justify;
}
.mrg-top{
	margin-top: 5px;
}
footer.page-footer .footer-copyright{
	background-color: rgba(187, 168, 168, 0.08) !important;
}
.footer-copyright a img{
	padding-top: 10px;
}
.nav-wrapper li a{
	line-height: 55px;
}
.dropdown-button .material-icons.right{
	line-height: 55px;
}

 nav{height: 57px!important;}
 .navbar-fixed{height: 57px!important;}


nav ul li.active{
	background-color: rgb(42, 136, 190) !important;
	border-bottom: solid 3px #e7ea16;
}
nav ul a:hover{
	background-color: rgb(42, 136, 190) !important;
}
#dropdown1{
	top:63px !important;
}
.font_30{
	font-size: 30px;
}



.panel-group {
	padding-top: 50px;
}
.panel-default {
	border-radius: 0 !important;
	border: none;
	background: none;
	margin-bottom: 0 !important;
	padding-bottom: 14px;
}
.panel-default > .panel-heading {
	border: none;
	background: none;
	padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border: none;
	padding: 0 0 0 32px;
}
.panel-default h5 {
	font: 300 19px "Open Sans", Arial, sans-serif;
	padding: 0;
	margin: 0 0 5px;
}
.panel-default .accordion-toggle:before{
	content: "";
	width: 21px;
	height: 21px;
	display: inline-block;
	background: #e54a1a url(../images/toggle-icons.png) no-repeat 6px 10px;
	border-radius: 50% !important;
	margin-right: 10px;
	position: relative;
	top: 4px;
}
.panel-default .collapsed:before {
	background: #495764 url(../images/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
	background-color: #e54a1a;
}
.panel-default .accordion-toggle, .choose-us-block .panel-default .accordion-toggle:focus, .choose-us-block .panel-default .accordion-toggle:hover, .choose-us-block .panel-default .accordion-toggle:active {
	color: #f69329;
	text-decoration: none;
}
.panel-default .collapsed {
	color: #5f6f7e;
}

.student-analytics{
	width: 100%;
	background-color: #2A88BD;
	padding: 0px 0px 1px 0px;
}
.student-analytics p{
	font-size: 12px;
	font-weight: 600;
	margin-top: -10px;
	color: #dcd716;
}
.mrg-pad15{
	margin-top: 15px;
	padding-bottom: 15px !important;
}
.student-analytics h4{
	margin-top: 15px;
}
/*employee css for box type*/
.employee-details .employee-name{
	padding: 5px 0px 10px 0px !important;
}
.employee-details .employee-name h6{
	font-size: 23px;
}
.employee-details .employee-name p a{
	font-size: 15px;
	color: #777;
	font-weight: 500;
}

/*employee css for circle type*/
.employee-div{
	/*background: red;*/
	padding: 10px;
	position: relative;
	margin-top: 192px!important;
	border-radius:  0px 0px 5px 5px;
	box-shadow:0px 8px 20px 0px #888888;
}

.employee-div .img-box{
	width: 246px;
	height:250px;
	border-radius:60%;
	background: #000;
	overflow: hidden;
	position: relative;
	margin:-220px -12px;
	border: 10px solid #034c6e;

}
.employee-div .img-box img{
	width: 100%;
	height: auto;

}
/*team circle pawan hover starts*/

.employee-div .img-box .employee-layout{
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
}
.employee-div .img-box .details{
	position: absolute;
	top: 66%;
	left: 0;
	opacity: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
}
.employee-div .img-box .details h6{
	font-weight: 500;
	color: #fff;
	font-size: 23px;
}
.employee-div .img-box .details p{
	font-weight: 500;
	color: #ff9800;
	font-size: 18px;
	text-align: center;
}
.employee-div:hover .img-box .employee-layout{
	opacity: 0.5;
}
.employee-div:hover .img-box .details{
	opacity: 1;
}

/*team circle pawal hover ends*/

.program .employee-layout{
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
}
.program .details{
	position: absolute;
	top: 60%;
	left: 0;
	opacity: 0;
	padding: 10px;
	z-index: 2;
	width: 100%;
	text-align: center;
	transition: 0.7s;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	max-height: 100px;
	width: 100%;
	-webkit-line-clamp:4;
	-webkit-box-orient: vertical;
	word-break: break-all;

}

.employee-details:hover .employee-layout{
	opacity: 0.5;
}
.employee-details:hover .details{
	opacity: 1;
}




.feat-images-slide .head-bar {
	background-color:#514c4a;
	height: 33px;
	padding: 10px;
	width:800px;

	border-radius: 4px 4px 0 0;

}

.feat-images-slide .head-bar span {
	display: inline-block;
	vertical-align: top;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #F0F0F0;
}

/*features css*/


.services-block h2{
	font-size: 32px;
	font-weight: 500;
}

.services-block p{
	text-align:center;
	padding-bottom: 70px;
	color: #333333;
	font-size: 16px;
}

.services-block .features_content h3 {
	font-size: 23px;
	 position: relative;
	margin-top: 55px;
	font-weight: 500;
}

.services-block .features_content p {
	text-align: center;
	padding-bottom: 70px;
	color: #333333;
	font-size: 16px;
}

.services-block .features_content img {
   height:100px;
   width:100px;
   background-color: lightgrey;
   border-radius: 10px;

}

.services-block .features_content h3:before {
	background:#034c6e;
}
.services-block .features_content h3:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 47.6%;
	top: -31px;
	text-align: center;
	z-index: 1;
	background: #034c6e;
	/*margin-left: -12px;*/
	border-radius: 31px;
}

.services-block .features_content h3:after {
	background:#034c6e;
}

.services-block .features_content h3:after {
	   position: absolute;
	content: "";
	height: 31px;
	width: 1px;
	left: 49.5%;
	top: -61px;
	text-align: center;
	z-index: -1;
	background: #034c6e;
	/*margin-left: -16px;*/
}
@media(max-width: 1200px){
	.services-block .features_content h3:before {
	left: 47%;
}
}
@media(max-width: 900px){
	.services-block .features_content h3:before {
	left: 46.5%;
}
}

@media(max-width: 700px){
	.services-block .features_content h3:before {
	left: 45%;
}
}
@media(max-width: 600px){
	.services-block .features_content h3:before {
	left: 48%;
}
}

@media(max-width: 470px){
	.services-block .features_content h3:before {
	left: 47.8%;
}
}

@media(max-width: 470px){
	.services-block .features_content h3:before {
	left: 47.4%;
}
}
/*features end*/


/*team starts*/


.overlay1
{

	position: absolute;
	background-color: rgba(16,17,19,0.8);
	top:0;

	height:100%;
	width: 100%;
	text-align: center;

}

.teamdiv{
	display: none;
}
@media(max-width: 600px){
	.teamdiv2{
		display: none;
	}
	.teamdiv{
	display: block;
}
}

.team h3
{
	font-size:30px;
	color: #fff`;
	position: relative;
	font-weight: 500;
}
.team h3:before {
	background:orange;
}
.team h3:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 80px;
	left: 50%;
	top: 45px;
	text-align: center;
	z-index: -1;
	background:orange;
	margin-left: -40px;
	}


 .team h3:after {
	background:orange;
}
.team h3:after {
	position: absolute;
	content: "";
	height: 8px;
	width: 30px;
	left: 50%;
	top: 42px;
	text-align: center;
	z-index: -1;
	background:orange;
	margin-left: -15px;
}

.employ_pic {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	border: solid 7px #034c6e;
}



.employ_pic img{
	width:100%;
	height: auto;
}

.employ_descr h5,
.employ_descr h6{
	float: left;
	font-weight: 500;
}
.employ_descr p{
	float: left;
	text-align: justify;
}

.employ_descr2 h5,
.employ_descr2 h6{
	float: right;
	font-weight: 500;
}

.employ_descr2 p{
	text-align: justify!important;
}


@media(max-width: 601px)
{
.employ_descr h5,
.employ_descr h6{
	float: none;
}

.employ_descr p{
	float: none;
	text-align: center;
}

.employ_descr2 h5,
.employ_descr2 h6{
	float: none;
}

.employ_descr2 p{
	text-align: center!important;
}
}
/*contact css*/
.botn a{
	float: right;
	margin-right: 10px;
}
.contact_us h2{
	font-size: 32px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 50px;
}
.contact-info  a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	overflow: hidden;
	margin-top: 7px;
	color: #444;
	float: left;
}
.contact-info li a i{
	background-color:orange;
}
.contact-info li address{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.7;
	overflow: hidden;
	margin-top: 7px;
	color: #757575;
	padding: 20px;
	text-align: center;
}
.team{
	height: 70px;
	width:100%;
	margin-top: 22px;
}
.team h2{
	font-weight: 500;
	font-size: 32px;
	text-align: center;
}

@media(max-width: 993px){
	.contact-matter{
		margin-top: 80px;
	}
	.botn a{
	float:none;
	margin-right: 10px;
	text-align: center;
}
}


/*.service-box_body {
	margin: 20px;
	min-height: 200px;
}

.service-box_body {
	overflow: hidden;
	padding: 29px 12px 6px 20px;
	background-color: #dbd8d7;
	position: relative;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.service-box_body:before {
	width: 0px;
	height: 100%;
}
main-style.css:1
.service-box_body:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 0;
	background-color: #607d8b;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
/*.service-box_body{
	width:10px;
	height: 100px;
	background:grey;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
/*    transition: width 2s;
}*/

/*.service-box_body:hover {
	width: 400px;
}*/


.service-box_body {
	overflow:hidden;

	height: 206px;
	padding: 75px 12px 6px 20px;
	background-color: #dbd8d7;
	color: white;
	position: relative;
	z-index: 1;
}

.service-box_body:before {
  content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 0%;
	height:100%;
	background-color: #607d8b;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: .7s;
	}

.service-box:hover .service-box_body::before{
	width:100%;
	height:100%;

}
.service-box figure {
	float: left;
	background-color: #607d8b;
	margin: 0px;
}

.service-box figure img{
	width: 200px;
	height: 200px;
}
.institute-benifits .institute-box{
	width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
    border: solid 3px #ccc;
}
.institute-benifits .institute-box:hover{
	border: solid 3px #777;
}
.institute-benifits .institute-box img{
	height: auto;
    width: 100%;
}
.institute-benifits h4{
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}