
/* Choose us block */
.choose-us-block {
	padding-top: 60px;
}
.choose-us-block h4 {
	margin-bottom: 35px;
}
.choose-us-block h4 a {
	color: #1ea9e3;
}
.choose-us-block .panel-group {
	padding-top: 50px;
}
.choose-us-block .panel-default {
	border-radius: 0 !important;
	border: none;
	background: none;
	margin-bottom: 0 !important;
	padding-bottom: 14px;
}
.choose-us-block .panel-default > .panel-heading {
	border: none;
	background: none;
	padding: 0;
}
.choose-us-block .panel-default > .panel-heading + .panel-collapse .panel-body {
	border: none;
	padding: 0 0 0 32px;
}
.choose-us-block .panel-default h5 {
	font: 300 19px "Open Sans", Arial, sans-serif;
	padding: 0;
	margin: 0 0 5px;
}
.choose-us-block .panel-default .accordion-toggle:before {
	content: "";
	width: 21px;
	height: 21px;
	display: inline-block;
	background: #e54a1a url(../../onepage/img/toggle-icons.png) no-repeat 6px 10px;
	border-radius: 50% !important;
	margin-right: 10px;
	position: relative;
	top: 4px;
}
.choose-us-block .panel-default .collapsed:before {
	background: #495764 url(../../onepage/img/toggle-icons.png) no-repeat 6px -148px;
}
.choose-us-block .panel-default .panel-title:hover .collapsed:before {
	background-color: #e54a1a;
}
.choose-us-block .panel-default .accordion-toggle, .choose-us-block .panel-default .accordion-toggle:focus, .choose-us-block .panel-default .accordion-toggle:hover, .choose-us-block .panel-default .accordion-toggle:active {
	color: #f69329;
	text-decoration: none;
}
.choose-us-block .panel-default .collapsed {
	color: #5f6f7e;
}


.choose-us-block.feature-bg {
	background: #292F34 url(../../assets/frontend/onepage/img/ssc-cgl-banner.jpg) no-repeat fixed;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	margin-bottom: 0px !important;
	color: #fff;
}
.choose-us-block.feature-bg h2,
.choose-us-block.feature-bg h4,
.choose-us-block.feature-bg .panel-default .collapsed {
	color: #fff;
}
.choose-us-block.feature-bg .feature-content p {
	color: #fff;
	font-size: 16px;
}
.choose-us-block.feature-bg .feature-content p i {
	font-size: 20px;
	color: #f69329;
}

.choose-us-block.feature-bg .overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 );
	/* height: auto; */
	background-attachment: fixed;
	padding: 50px 0;
}
.choose-us-block.feature-bg .overlay .discount a {
	text-decoration: none;
}
.choose-us-block.feature-bg .overlay .discount a:hover strong {
	color: #fff;
}
.margin-top-20 {
	margin-top: 20px;
}
/*.choose-us-block.feature-bg .overlay h2.discount:after {*/
	/*z-index: 2;
	content: " ";*/
	/*display: none;*/
	/*padding-top: 7px;
	border-bottom: 2px solid #b7bbbf;
	width: 73px;
	margin: 0 auto;*/
/*}*/
.choose-us-block.feature-bg .overlay .checkout-block {
	background: transparent;
	padding-bottom: 0px;
}
.choose-us-block.feature-bg .overlay h3.discount {
	color: #fff;
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 0px;
	line-height: 51px;
}
.choose-us-block .img-responsive {
	margin: 0 auto;
}

/* Testimonials block */
.testimonials-block {
	padding-top: 60px;
}
.testimonials-block h4 {
	margin-bottom: 57px;
}
.testimonials-block .carousel {
	width: 62%;
	margin: 0 auto;
}
.testimonials-block blockquote {
	border: none;
	font: italic 300 23px/1.3 "Open Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #66717c;
}
.testimonials-name {
	font: italic 300 23px/1.3 "Open Sans", Arial, sans-serif;
	color: #f69329;
}
.carousel-indicators {
	position: absolute;
	margin: 27px 0 0;
	width: 100%;
	left: 0;
}
.carousel-indicators li {
	width: 12px !important;
	height: 12px !important;
	border-radius: 50% !important;
	background: #dce0e2;
	position: relative;
	margin: 0 3px !important;
	border: none;
}
.carousel-indicators li.active {
	background: #e6400c;
}
.content-center {
	text-align: center;
}
.partners-block,
.carousel-indicators {
	text-align: center;
}
.partners-block {
	padding: 40px 0 50px;
	background-color: #F9F9F9;
}
.home .page-title-div {
	display: none;
}
.pre-header {
	font-weight: 400;
	font-size: 12px;
}
.footer .padding-tb-4 {
	padding-top: 3px;
	padding-bottom: 4px;
}
.solution-div.content h2 {
	font-size: 25px;
	font-weight: 600;
}
.subscription-bg {
	background-color: #11b5bf;
	color: #fff;
	padding-bottom: 30px;
}
.subscription-bg p,
.enterprise-bg ul li {
	font-size: 20px;
}
.subscription-bg img,
.enterprise-bg img {
	margin: 0 auto;
}
.enterprise-bg {
	background-color: #167f86;
	color: #fff;
	padding-bottom: 30px;
}
.how-to-work-block {
	background: #f9f9f9;
	padding: 20px 0 30px;
	text-align: center;
}
.how-to-work-block .steps {
	width: 216px;
	/*float: left;*/
	display: inline-block;
	margin: 0 0 7px 15px;
}
.how-to-work-block .steps:first-child {
	margin-left: 0;
}
@media (min-width: 992px) and (max-width: 1300px) {
	.subscription-bg,
	.enterprise-bg {
		height: 344px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.how-to-work-block .steps {
		width: 178px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.how-to-work-block .steps {
		width: 230px;
	}
}
@media (min-width: 510px) and (max-width: 767px) {
	.how-to-work-block .steps {
		width: 230px;
		margin-left: 8px;
		margin-right: 8px;
	}
	.how-to-work-block .steps:first-child {
		margin-left: 8px;
	}
}
@media (max-width: 509px) {
	.how-to-work-block .steps {
		width: 100%;
		margin: 0 auto;
	}
	.how-to-work-block .steps img {
		margin: 0 auto;
	}
}
.btn-success {
	color: #fff;
	background-color: #f69329;
	border-color: #f69329;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	color: #fff;
	background-color: #ef8d24;
	border-color: #ef8d24;
}
.popular-packages{
	margin-top: 30px;
}
.popular-packages .btn,
.solution-div .btn,
.checkout-block .btn {
	/*font: 400 20px/20px "PT Sans Narrow", Arial, sans-serif;*/
	font-size: 20px;
	padding: 10px 20px 10px;
	border-radius: 5px !important;
	text-transform: capitalize;
}
.carousel-inner .item{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*.carousel-inner .item img{
	width: 100%;
	height: auto;
}*/
.carousel-inner.inner-2 .item{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*.carousel-inner.inner-2 .item img{
	width: 100%;
	height: auto;
}*/

/* carousel fade*/
.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	opacity:0;
}

/* slide */
.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}
/*-------------*/
.institute-benifits{
	margin-top: 30px;
	padding-bottom: 40px;
}
.mrg-bottom40{
	margin-bottom: 40px;
}
.content h4{
	font-weight: 400;
}
.owl-theme .owl-controls .owl-page span{
	background-color: transparent !important;
}
.owl-carousel .item{
	width: 300px !important;
	margin: 0 auto;
}
.selected-students{
	margin-top: 30px;
}
.carousel{
	overflow: hidden;
}
.padd-t105{
	padding-top: 105px;
}
.padd-t130{
	padding-top: 130px;
}
.carousel-control{
	top: 80px;
}
.carousel .item h2{
	text-align: center;
	font-size: 28px;
	/*color: #444;*/
	color: #797272;
	text-shadow: 0px 2px #b5a6a6;
	letter-spacing: 2px;
	font-style: italic;
}
@media (max-width: 768px){
.padd-t130 {
	padding-top: 103px;
	/*margin-bottom: -12px;*/
	margin-top: 0px;
	}
}

/*ravolution slider custom css*/

.mrgl-50{
	margin-left: -50px;
}
.mrgt-50{
	margin-top: -50px;
}
.mrgt-20{
	margin-top: 20px;
}
.revo-font{
	text-align: left !important;
	color: #444 !important;
}
.bg-color{
	background-color: #f69329 !important;
}
.bg-color:hover{
	color: #000 !important;
}

/*pouplar perograms css*/
.popular-packages ul{
	list-style: none;
}

.popular-packages a{
	list-style: none;
	width: 280px;
	list-style: none;
	float: left;
	margin: 20px 0 0 15px;
	border: solid 1px #ccc;
	padding: 5px;
	text-align: center;
	border-radius: 3px !important;
}
span.card-details.fxac.dib-lg{
	float: right;
	margin-top: 15px;
}
span.title{
	float: left;
	margin-top: 15px;
	color: #444;
	font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 108px;
  width: 75%;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
   font-family: 'Kaushan Script', cursive;
   font-weight: 600;
   word-break: break-all;
}
@media (max-width: 768px) {
	.slide_title_white.revo-font {
		left: 15px !important;
		color: #fff !important;
		text-align: center;
	}
}