/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.required {
	color: #e02222;
	font-size: 12px;
	}
	.i-circle {
	background-color: #b2b2b2;
	color:#fff;
	display: inline-block;
	text-align: center !important;
	font-size: 16px;
	font-weight: 300;
	padding: 0px 14px 0px 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	height: 25px;
	width: 25px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	}
	.i-green {
	color:#35AA47;
	}
	.i-blue {
	color:#4B8DF8;
	}
	.i-font-size i{
		font-size:20px;
		margin-top: 20px;
	}

@media (max-width: 350px){
	.page-footer-inner {
		text-align: center;
	}
	.page-footer-inner p {
		margin: auto;
	}
}
@media (min-width: 351px){
	.page-footer-inner p {
		float: left;
		/*width:145px;*/
	}
	.page-footer-inner p:last-child {
		float: right;
		margin-right: 0px;
		/*width:185px;*/
	}
}
@media (max-width: 363px){
	.add-option {
		margin-top: 10px;
	}
}
@media (min-width: 364px){
	.add-option {
		margin-top:-10px;
	}
}
@media (min-width: 811px){
	.width-select-type {
		width:90%;
	}
}
@media (max-width: 810px){
	.width-select-type {
		width:80%;
	}
}
.green-border {
	border:1px solid #4bc75e;
}
.blue-border {
	border: 1px solid #7cacfa;
}
.purple-border {
	border: 1px solid #a563c1;
}
.has-error .form-control {
	border-color: #F77085;
}
.dashboard-stat {
	margin-bottom: 25px !important;
}
.color-white{
	color:#fff;
}
.margin-top-3{
	margin-top:-3px;
}
.more-details{
	clear: both;
	display: block;
	padding: 6px 10px 6px 10px;
	position: relative;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	opacity: 0.7;
}
.dashboard-stat .more-details a {
  text-decoration: none;
  opacity: 0.7;
  filter: alpha(opacity=90);
}
.dashboard-stat .more-details a:hover {
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.more-details {
  color: #FFFFFF;
  background-color: #4884b8;
}
.dashboard-stat.red-intense .more-details {
  color: #FFFFFF;
  background-color: #e04a49;
}
.dashboard-stat.green-haze .more-details {
  color: #FFFFFF;
  background-color: #3ea7a0;
}
.dashboard-stat.purple-plum .more-details {
  color: #FFFFFF;
  background-color: #7c699f;
}
.more-details a{
	color:#fff;
	text-decoration:none;
}
@media (min-width: 768px){
.label-left .form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}
}
.question-option{
	width: 100px !important;
}
.table-border0 .table>tbody>tr>td {
	border:none;
}
.radio-option{
	  padding: 6px 0px 0px 6%;
}
.add-option{
	  margin-top: -45px;
	  margin-right: 4%;
}
.mrg-bot10 {
	margin-bottom:10px;
}
.mrg-left5{
	margin-left:5px;
}
@media (max-width: 767px) {
	.add-option{
		  margin-top: 0px;
		  margin-right: 0px;
	}
}
@media (max-width: 500px) {
	.i-circle {
		margin-left: 0px;
	}
	.i-font-size {
		margin-left: -10px;
	}
}
.white {
	color: #fff;
}
ol.upper-alpha{
	padding-left:0px !important;
}
ol.upper-alpha li {
	list-style-type: upper-alpha;
	color: #89C4F4;
	font-weight:bold;
}
ol.upper-alpha li span {
	color:#333;
	font-weight:normal;
}
.page-title .EntranceExam i {
	font-size:30px !important;
}
.mrg-left10{
	margin-left:10px;
}
.mrg-right5{
	margin-right:5px;
}
.mrg-right10{
	margin-right:10px;
}
.mar-top10 {
	margin-top:10px;
}
.mar-top20 {
	margin-top:20px;
}
.mar-top45 {
	margin-top:45px;
}
.labelAssRes {
	padding-top:12px;
}
.btn_AddQuestion i {
	color: #555;
}
.ques-detail-filter-label {
	padding: 8px 0px;
}
.modal-header {
	background-color: #747F8C;
    color: #fff;
}
table thead tr th, table tbody tr td {
    /*text-transform: capitalize;*/
}
.portlet > .portlet-title > .caption > i {
    margin-top: 2px;
}
.timeing {
	margin-left: -10px;
	margin-right: -10px;
}
table.tb-questionbank tr td:nth-child(3) div {
	width: 50px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}
table.tb-questionbank tr td:last-child div {
	width: 65px;
}
table.tb-questionbank tr td:nth-child(4) {
	width: 75px;
} 
table.tb-questionbank tr td:nth-child(5) div {
	width: 170px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}
table.tb-questionbank tr td:nth-child(6) div {
	width: 65px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}
table.tb-questionbank tr td:nth-child(7) div {
	width: 150px;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}
table.tb-questionbank tr td:nth-child(7) p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
    line-height: 1.7;
    padding-top: 4px;
    text-transform: none;
}
table.tb-questionbank tr td:nth-child(7) img {
	width: auto !important;
	height: 25px !important;
}
table.tb-questionbank tr td:nth-child(7) p span {
	/*display: none;
	visibility: hidden;*/
}
table.tb-questionbank tr td:nth-child(7) span {
	margin-top: 2px;
}
table.tb-questionbank tr td:nth-child(9) div {
	width: 113px;
}
.VTP-right-side .desc {
	margin-top: 20px;
}
.VTP-right-side .desc a {
	color: #fff;
	text-decoration: none;
    font-weight: 500;
}
.VTP-right-side .desc a:hover {
	color: #fff;
}
.VTP-right-side .dashboard-stat .visual {
    width: 70px;
    height: 40px;
}
.VTP-add-test {
    padding-top: 35px;
}
.VTP-right-side .dashboard-stat .VTP-add-test a {
    margin-left: -60px;
    color: #fff;
    text-decoration: none;
    z-index: 100050;
}
.VTP-right-side-divider {
	border-left: 1px dotted #000;
}
.sub-box {
	width: 100%;
    background-color: rgba(50, 110, 191, 0.83);
}
.sub-box .sub-name {
    font-size: 18px;
    padding: 20px 20px;
}
.sub-box .sub-name a {
	color: #fff;
	text-decoration: none;
}
.th-text-center tr th {
	text-align: center;
}
.sub-box .sub-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
/*.tools a i {
	color: #999;
}*/
.delete {
	color: #f00 !important;
}
.add-color {
	color: #3CA04C;
}
.create-report {
	margin-top: 23px;
	margin-bottom: 15px;
}
.edit-test-program-bor {
	border-left: 1px dotted #000;
}
@media (max-width: 991px) {
	.edit-test-program-bor {
		border-left: none;
	}
}

.sol-exp-border {
	border: 1px solid rgba(35, 19, 19, 0.25);
	padding: 10px;	
}
.qp-opt-border {
	border: 1px solid #ccc;
    padding: 5px 5px 0px;
}
.qp-opt-div {
	border: 1px solid #ccc;
    padding: 6px 5px 6px;
}
.qp-opt-radio-btn {
    margin-right: 10px;
    margin-top: 5px;
}
.matrix-table-options table tbody tr td .checkbox-list {
	margin-top: 0px auto;
	text-align: center;
	padding: 15px 0px 0px;
}
.matrix-table-options table tbody tr td  {
	text-align: center;
	padding: 5px;
}
.matrix-table-options table tfoot tr td  {
	text-align: center;
	padding: 5px;
}
.matrix-table-options table thead tr th:last-child {
	text-align: center;
}
.matrix-table-options table tbody tr td:last-child a {
	margin-top: 7px;
}
.matrix-table-options table thead tr th a {
	margin-bottom: 10px;
}
.matrix-table-options table thead tr th .padd {
    padding: 0px 0px 5px;
    /*text-align: center;*/
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group .input-group-addon {
    border-color: #ccc;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.stylish-input-group .input-group-addon:focus {
	box-shadow: none !important;
}
.table-coupan tbody tr td:last-child a {
	text-decoration: none;
}
.list-group-item.active a, .list-group-item.active:hover a, .list-group-item.active:focus a {
    color: #fff;
}
.padd-tb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.font24 {
    font-size: 18px !important;
}
.well.tiles .tile.medium {
    width: 200px !important;
}

.bg-light-red-intense {
    border-color: #FD2525 !important;
    background-image: none !important;
    background-color: #F72424 !important;
    color: #FFFFFF !important;
}
.mrg-right0 {
	margin-right: 0px !important;
}
.mrg-tb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.border-top-ccc {
    border-top: 1px solid #ccc;
}
.mrg-top20 {
    margin-top: 20px;
}
.time-analysis .border-right-999 {
    height: 150px;
    padding: 22px 30px;
}
.border-right-999 {
    border-right: 1px solid #999;
}
.borderccc {
    border: 1px solid #ccc;
    padding: 15px;
}
.mrg-top0 {
    margin-top: 0px;
}
.mrg-top5 {
    margin-top: 5px;
}
.mrg-bot20 {
    margin-bottom: 20px;
}
.mrg-top20 {
    margin-top: 20px;
}
.light-bg-color {
    background-color: #f5f5f5;
}
.bor-ccc {
    border: 1px solid #ccc;
}
.time-taken {
    padding: 10px 0px 30px;
}
.score {
    background-color: #35AA47;
    text-align: center;
    height: 50px;
    width: 120px;
    padding: 10px 0px;
}
.score span {
    color: #fff;
    margin: 10px;
    float: none;
}
.white-bg {
    background-color: #fff;
}
.border-top-ccc {
    border-top: 1px solid #ccc;
}
.detailed-Q-R {
    width: 100%;
    display: flex;
}
.detailed-Q-R-div {
    width: 25%;
    padding: 10px;
    text-align: center;
}
.border-right-ccc {
    border-right: 1px solid #ccc;
}
.time-taken h4 {
	margin-top: 0px;
}
.detailed-Q-R-div h4 {
	margin-top: 0px;
}
.mrg-top40 {
    margin-top: 40px;
}
.padd-left30 {
    padding-left: 30px;
}
.in-correct {
    color: #f00;
}
.correct {
    color: #35AA47;
}
.sol-expla-scrllbar {
    max-height: 150px;
    overflow-y: scroll;
}
.list-style-none {
    list-style: none;
}
.mrg-bot5 {
    margin-bottom: 5px;
}
.sequencing-list .option .btn p {
    margin-bottom: 0px;
}
.border-ccc {
    border: 1px solid #ccc !important;
    padding: 1px 5px;
}
.table-stu-qu-resu tr th {
    text-align: center;
    text-transform: none;
}
select[multiple], select[size] {
	height: 34px;
}
.more a, .more span {
	color: #fff;
	text-decoration: none;
}
.dashboard-stat .visual {
    width: 100px;
    height: 100px;
}
.overlay-dashboard-tiles {
    position: absolute;
    top: 0;
    display: block !important;
    width: 100%;
    margin-left: -15px;
    padding: 0px 25px;
    color: #fff;
}
.overlay-dashboard-tiles h3 {
	margin: 10px 0px 5px 5px;
	font-size: 20px;
	padding-bottom: 5px;
	color: #8E9DAA;
	font-family: verdana;
	font-size: 17px;
	font-weight: bold;
}
.overlay-dashboard-tiles h3.count {
    border-bottom: 0px;
    color: #000;
    font-size: 25px;
    margin-top: 30px;
    padding-left:75px;
}
.overlay-dashboard-tiles p {
	margin-bottom: 0px;
}
.overlay-dashboard-tiles p span {
    font-size: 20px;
    line-height: 1;
}
.portlet.grey-cascade, .portlet.grey-cascade .portlet-title {
	background-color: transparent !important;
}
.portlet.grey-cascade {
	border-top: 1px solid #b1bdbd !important;
}
.portlet.grey-cascade .portlet-title .caption, .portlet.grey-cascade .portlet-title .caption i {
	color: #3598dc !important;
}
.portlet.grey-cascade .portlet-title .caption {
	font-weight: 600;

}
.dashboard-stat .visual > i {
    margin-left: 160px;
    margin-top: 10px;
    font-size: 70px;
}
.mrg5 {
	margin: 5px;
}


.btn.green{
    background-color: #747F8C;
}
.green.btn:hover,
.green.btn:active,
.green.btn:focus{
	 background-color: #525A63;
}

.green.btn:active:hover	{
	background-color: #747F8C;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, 
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar .page-sidebar-menu > li.active.open > a {
	background: #747F8C;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, 
.page-sidebar .page-sidebar-menu > li.active > a:hover, 
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
	background:#525A63;
}
.portlet.box.green > .portlet-title{
	background: #747F8C;
}
.portlet.box.green {
	border: solid 1px #747F8C;
}
.dashboard-stat.blue-madison{
border: solid 1px #B1BDBD;
background-color: #fff;

}
.dashboard-stat.blue-madison .visual > i{
	color: #fff;
	font-size: 20px;
	margin-top: 32px;
	margin-left: 0px;
	background-color: #32C5D2;
	padding: 5px 20px 5px 20px;
	line-height: 50px;
	opacity:1;

}
.dashboard-stat.blue-madison .more{
	background-color: #decfcf;
	color: #000;
	opacity: none;
	font-family: verdana;
	font-weight: bold;
	padding-left: 15px;
	font-size: 10px;
}

.dashboard-stat.blue-madison .more a{
	color: #000;
	opacity: none;
}

.dashboard-stat.red-intense{
	background-color: #fff;
	border: solid 1px #B1BDBD;
}
.dashboard-stat.red-intense .visual > i{
	color: #fff;
	margin-left: 0px;
	background-color: #E7505A;
	font-size: 20px;
	margin-top: 32px;
	line-height: 50px;
	padding: 5px 20px 5px 20px;
	opacity: 1; 
}
.dashboard-stat.red-intense .more{
	background-color: #decfcf;
	color: #000;
	opacity: none;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	padding-left: 15px;	 
}
.dashboard-stat.red-intense .more a{
	color: #000;
	opacity: none;
}
.dashboard-stat.green-haze{
	background-color: #fff;
	border: solid 1px #B1BDBD;
}
.dashboard-stat.green-haze .visual > i{
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	margin-left: 0px;
	margin-top: 32px;
	background-color: #8E44AD;
	padding: 5px 20px 5px 20px;
	opacity: 1;
}
@font-face {
  font-family: 'verdana';
  src: url('../../../global/fonts/verdana.ttf') format('truetype');
/*  src: url('../../../global/fonts/verdanab.ttf') format('truetype');
  src: url('../../../global/fonts/verdanai.ttf') format('truetype');
  src: url('../../../global/fonts/verdanaz.ttf') format('truetype');*/
}
@font-face {

	font-family: 'OpenSans';
  	src: url ('../../../global/fonts/OpenSans-Light.ttf') format('truetype');
}
.dashboard-stat.green-haze .more{
	background-color: #decfcf;
	color: #000;
	opacity: none;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	padding-left: 15px;
}
.dashboard-stat.green-haze .more a{
	color: #000;
	opacity: none;
}
.dashboard-stat.purple-plum{
	background-color: #fff;
	border: solid 1px #B1BDBD;
}
.dashboard-stat.purple-plum .visual > i{	
	color: #fff;
	margin-left: 0px;
	background-color: #F90;
	line-height: 50px;
	margin-top: 32px;
	font-size: 20px;
	opacity: none;
	padding: 5px 20px 5px 20px;
	opacity: 1; 
}
.dashboard-stat.purple-plum .more{
	background-color: #decfcf;
	color: #000;
	opacity: none;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;	
	padding-left: 15px;
}
.dashboard-stat.purple-plum .more a{
	color: #000;
	opacity: none;
}
.bg-white{
	background-color: #fff;
	border: solid 4px #ccc !important;
}
.tiles .tile .tile-object > .name {
	color:#333;	
}
.tiles .tile.green .tile-body{
	color: #35aa47;
}
.tiles .tile.purpal .tile-body{
	color: #8E44AD;
}
.tiles .tile.red .tile-body{
	color: #F72424;
}
.tiles .tile.blue .tile-body{
	color: #4b77be;
}
.tiles-details{
	margin: auto;
	display: inline-block;
}
.tiles .tile .tile-object > .number{
	color: #333;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #747F8C;
}
.portlet.box > .portlet-title .fonts-black {
    color: #333 !important;	
}
.label-default {
    background-color: #747F8C !important;
}
.table-scrollable > #student-assignment-table.table-bordered > thead > tr > th,
.table-scrollable > #student-assignment-table.table-bordered > tbody > tr > td {
    padding: 8px 12px 8px 2px !important;
}